<!DOCTYPE html>
<html lang="vi" prefix="og: https://ogp.me/ns#" class="loading-site no-js bg-fill">

<!-- Mirrored from inno.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Dec 2025 01:42:54 GMT -->
<!-- Added by HTTrack -->
<head>
    @await Component.InvokeAsync("Header")
</head>

<body class="home wp-singular page-template page-template-page-blank page-template-page-blank-php page page-id-14718 wp-custom-logo wp-theme-flatsome wp-child-theme-flatsome-child theme-flatsome woocommerce-no-js woo-variation-swatches wvs-behavior-blur wvs-theme-flatsome-child wvs-show-label wvs-tooltip full-width header-shadow bg-fill lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border mobile-submenu-toggle">


    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>

    <div id="wrapper">

        <div class="top-banner">
            <a href="">
                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="Khuyến mãi sốc" border="0" min-height="50px" data-lazy-src="https://inno.com.vn/wp-content/uploads/2025/07/Header-CTKM-Tivi.webp" /><noscript><img src="/user/assets/wp-content/uploads/2025/07/Header-CTKM-Tivi.webp" alt="Khuyến mãi sốc" border="0" min-height="50px" /></noscript>
            </a>
        </div>
        @await Component.InvokeAsync("Nav")

        @RenderBody()
        @RenderSection("Styles", required: false)

        @await Component.InvokeAsync("Footer")

    </div>

    <script type="speculationrules">
        {"prefetch":[{"source":"document","where":{"and":[{"href_matches":"/*"},{"not":{"href_matches":["/wp-*.php","/wp-admin/*","/wp-content/uploads/*","/wp-content/*","/wp-content/plugins/*","/wp-content/themes/flatsome-child/*","/wp-content/themes/flatsome/*","/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
    </script>
    <div class="ft-chatbox-skin1 ">
        <a class="ft-cco ft-cpho" rel="nofollow" title="Phone" href="#"><i><svg class="khacus" width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"><g transform="matrix(0.117188,0,0,0.117188,4.99027,4.99027)"><path d="M278.669,172.38L278.674,172.38C312.199,172.38 339.785,199.966 339.785,233.491L339.785,233.5C339.833,237.752 343.345,241.225 347.597,241.225C351.85,241.225 355.362,237.752 355.41,233.5C355.391,191.41 320.759,156.781 278.669,156.767C278.64,156.767 278.61,156.766 278.581,156.766C274.298,156.766 270.775,160.29 270.775,164.573C270.775,168.855 274.298,172.379 278.581,172.379C278.61,172.379 278.64,172.378 278.669,172.378L278.669,172.38ZM266.876,222.358C266.847,222.358 266.817,222.359 266.788,222.359C262.505,222.359 258.982,218.835 258.982,214.553C258.982,210.27 262.505,206.747 266.788,206.747L266.898,206.747C288.884,206.747 306.976,224.839 306.976,246.825L306.976,246.837C306.928,251.089 303.416,254.562 299.164,254.562C294.911,254.562 291.399,251.089 291.351,246.837L291.351,246.828C291.351,233.404 280.305,222.358 266.881,222.358L266.876,222.358ZM317.7,415.5C293.023,411.142 268.671,399.821 247.415,386.838C222.827,371.802 199.86,353.06 179.488,332.682C159.116,312.304 140.366,289.352 125.33,264.741C112.358,243.488 101.007,219.129 96.673,194.465C95.632,188.948 95.946,183.259 97.588,177.89C99.333,172.575 102.325,167.755 106.314,163.833L138.862,131.294C142.014,128.163 147.179,128.163 150.331,131.294L208.8,189.751C211.925,192.909 211.925,198.07 208.8,201.228L177.726,232.311C173.173,236.832 172.57,244.062 176.311,249.275C188.332,265.886 201.703,281.477 216.289,295.889C230.692,310.481 246.283,323.851 262.9,335.861C268.104,339.611 275.337,339.011 279.852,334.454L310.952,303.374C312.465,301.853 314.527,301.001 316.672,301.01C318.825,301.006 320.893,301.857 322.421,303.374L380.883,361.834C384.008,364.991 384.008,370.151 380.883,373.308L348.334,405.85C340.428,414.045 328.876,417.684 317.7,415.5ZM278.669,111.691C274.388,111.691 270.865,108.168 270.865,103.887C270.865,99.607 274.388,96.084 278.669,96.084L278.676,96.084C354.056,96.084 416.084,158.112 416.084,233.492L416.084,233.5C416.084,237.786 412.557,241.313 408.271,241.313C403.985,241.313 400.458,237.786 400.458,233.5C400.463,166.683 345.486,111.697 278.669,111.691Z" style="fill:#fff" /></g></svg></i><span>0926 557 757</span></a><a class="ft-cco ft-cpho" rel="nofollow" title="Phone" href="#"><i><svg class="khacus" width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"><g transform="matrix(0.117188,0,0,0.117188,4.99027,4.99027)"><path d="M278.669,172.38L278.674,172.38C312.199,172.38 339.785,199.966 339.785,233.491L339.785,233.5C339.833,237.752 343.345,241.225 347.597,241.225C351.85,241.225 355.362,237.752 355.41,233.5C355.391,191.41 320.759,156.781 278.669,156.767C278.64,156.767 278.61,156.766 278.581,156.766C274.298,156.766 270.775,160.29 270.775,164.573C270.775,168.855 274.298,172.379 278.581,172.379C278.61,172.379 278.64,172.378 278.669,172.378L278.669,172.38ZM266.876,222.358C266.847,222.358 266.817,222.359 266.788,222.359C262.505,222.359 258.982,218.835 258.982,214.553C258.982,210.27 262.505,206.747 266.788,206.747L266.898,206.747C288.884,206.747 306.976,224.839 306.976,246.825L306.976,246.837C306.928,251.089 303.416,254.562 299.164,254.562C294.911,254.562 291.399,251.089 291.351,246.837L291.351,246.828C291.351,233.404 280.305,222.358 266.881,222.358L266.876,222.358ZM317.7,415.5C293.023,411.142 268.671,399.821 247.415,386.838C222.827,371.802 199.86,353.06 179.488,332.682C159.116,312.304 140.366,289.352 125.33,264.741C112.358,243.488 101.007,219.129 96.673,194.465C95.632,188.948 95.946,183.259 97.588,177.89C99.333,172.575 102.325,167.755 106.314,163.833L138.862,131.294C142.014,128.163 147.179,128.163 150.331,131.294L208.8,189.751C211.925,192.909 211.925,198.07 208.8,201.228L177.726,232.311C173.173,236.832 172.57,244.062 176.311,249.275C188.332,265.886 201.703,281.477 216.289,295.889C230.692,310.481 246.283,323.851 262.9,335.861C268.104,339.611 275.337,339.011 279.852,334.454L310.952,303.374C312.465,301.853 314.527,301.001 316.672,301.01C318.825,301.006 320.893,301.857 322.421,303.374L380.883,361.834C384.008,364.991 384.008,370.151 380.883,373.308L348.334,405.85C340.428,414.045 328.876,417.684 317.7,415.5ZM278.669,111.691C274.388,111.691 270.865,108.168 270.865,103.887C270.865,99.607 274.388,96.084 278.669,96.084L278.676,96.084C354.056,96.084 416.084,158.112 416.084,233.492L416.084,233.5C416.084,237.786 412.557,241.313 408.271,241.313C403.985,241.313 400.458,237.786 400.458,233.5C400.463,166.683 345.486,111.697 278.669,111.691Z" style="fill:#fff" /></g></svg></i><span>0989 877 888</span></a><a class="ft-cco ft-czal" rel="nofollow" title="Zalo" href="https://zalo.me/0926557757"><i><svg class="khacus" width="100%" height="100%" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M25.004,10.45l-0.015,-0c-7.978,-0 -14.544,6.565 -14.544,14.543c0,2.609 0.702,5.17 2.032,7.415l-1.951,5.367c-0.053,0.145 -0.08,0.298 -0.08,0.453c0,0.725 0.597,1.322 1.322,1.322c0.154,0 0.307,-0.027 0.452,-0.079l5.368,-1.952c2.245,1.33 4.807,2.031 7.416,2.031c7.982,0 14.551,-6.568 14.551,-14.55c-0,-7.982 -6.569,-14.55 -14.551,-14.55Zm0.939,18.021l-0,0.021c-0,0.293 0.254,0.548 0.56,0.548l0.752,-0l0,-6.143l-1.312,-0l-0,0.435c-0.528,-0.386 -1.181,-0.613 -1.888,-0.613c-1.759,-0 -3.186,1.427 -3.186,3.186c-0,1.759 1.427,3.186 3.186,3.186c0.706,0 1.359,-0.23 1.888,-0.62Zm7.976,-5.803c-1.772,-0 -3.212,1.44 -3.212,3.211c0,1.772 1.44,3.212 3.212,3.212c1.771,-0 3.211,-1.44 3.211,-3.212c0,-1.771 -1.44,-3.211 -3.211,-3.211Zm-5.073,6.372l0.931,-0l-0,-8.131l-1.402,-0l-0,7.659c-0,0.255 0.204,0.472 0.471,0.472Zm-8.321,-8.131l-6.538,-0l-0,1.402l4.537,-0l-4.474,5.544c-0.14,0.204 -0.242,0.395 -0.242,0.828l0,0.357l6.169,-0c0.306,-0 0.56,-0.255 0.56,-0.561l0,-0.752l-4.766,0l4.206,-5.276c0.063,-0.077 0.178,-0.217 0.229,-0.28l0.026,-0.039c0.242,-0.357 0.293,-0.662 0.293,-1.032l-0,-0.191Zm3.53,6.869c-1.033,0 -1.874,-0.841 -1.874,-1.873c0,-1.032 0.841,-1.873 1.874,-1.873c1.032,-0 1.873,0.841 1.873,1.873c0,1.032 -0.828,1.873 -1.873,1.873Zm9.864,0c-1.045,0 -1.886,-0.841 -1.886,-1.886c-0,-1.045 0.841,-1.886 1.886,-1.886c1.045,-0 1.886,0.841 1.886,1.886c0,1.045 -0.841,1.886 -1.886,1.886Z" style="fill:#fff;" /></svg></i><span>Chat Zalo</span></a>
    </div>
    <script>
        (function ($) {
            $(document).ready(function () {
                $(window).on('load', function () {
                    if ($('.single-product div#tab-description').length > 0) {
                        var wrap = $('.single-product div#tab-description');
                        var current_height = wrap.height();
                        var your_height = 500;
                        if (current_height > your_height) {
                            wrap.css('height', your_height + 'px');
                            wrap.append(function () {
                                return '<div class="devvn_readmore_flatsome devvn_readmore_flatsome_more"><a title="Xem thêm" href="javascript:void(0);">Xem thêm</a></div>';
                            });
                            wrap.append(function () {
                                return '<div class="devvn_readmore_flatsome devvn_readmore_flatsome_less" style="display: none;"><a title="Xem thêm" href="javascript:void(0);">Thu gọn</a></div>';
                            });
                            $('body').on('click', '.devvn_readmore_flatsome_more', function () {
                                wrap.removeAttr('style');
                                $('body .devvn_readmore_flatsome_more').hide();
                                $('body .devvn_readmore_flatsome_less').show();
                            });
                            $('body').on('click', '.devvn_readmore_flatsome_less', function () {
                                wrap.css('height', your_height + 'px');
                                $('body .devvn_readmore_flatsome_less').hide();
                                $('body .devvn_readmore_flatsome_more').show();
                            });
                        }
                    }
                });
            });
        })(jQuery);
    </script>
    <!--  -->

    <div class="isures-wrap--progress">
        <div class="progress"></div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var pixels = jQuery(document).scrollTop();
            var pageHeight = jQuery(document).height() - jQuery(window).height();
            var progress = 100 * pixels / pageHeight;

            jQuery("div.progress").css("width", progress + "%");
        });

        jQuery(document).on("scroll", function () {
            var pixels = jQuery(document).scrollTop();
            var pageHeight = jQuery(document).height() - jQuery(window).height();
            var progress = 100 * pixels / pageHeight;

            jQuery("div.progress").css("width", progress + "%");
        });

    </script>

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <script>
        (function ($) {
            "use strict";

            $(document).ready(function () {
                "use strict";

                var progressPath = document.querySelector('.progress-wrap path');
                var pathLength = progressPath.getTotalLength();
                progressPath.style.transition = progressPath.style.WebkitTransition = 'none';
                progressPath.style.strokeDasharray = pathLength + ' ' + pathLength;
                progressPath.style.strokeDashoffset = pathLength;
                progressPath.getBoundingClientRect();
                progressPath.style.transition = progressPath.style.WebkitTransition = 'stroke-dashoffset 10ms linear';
                var updateProgress = function () {
                    var scroll = $(window).scrollTop();
                    var height = $(document).height() - $(window).height();
                    var progress = pathLength - (scroll * pathLength / height);
                    progressPath.style.strokeDashoffset = progress;
                }
                updateProgress();
                $(window).scroll(updateProgress);
                var offset = 50;
                var duration = 550;
                jQuery(window).on('scroll', function () {
                    if (jQuery(this).scrollTop() > offset) {
                        jQuery('.progress-wrap').addClass('active-progress');
                    } else {
                        jQuery('.progress-wrap').removeClass('active-progress');
                    }
                });
                jQuery('.progress-wrap').on('click', function (event) {
                    event.preventDefault();
                    jQuery('html, body').animate({ scrollTop: 0 }, duration);
                    return false;
                })


            });

        })(jQuery);
    </script>
    <div id="custom-popup" style="display:none;">
        <div class="popup-overlay"></div>
        <div class="popup-content">
            <span class="close-popup">&times;</span>
            <a href="/chuong-trinh-khuyen-mai-innosmart/index.html">
                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" data-lazy-src="/user/assets/wp-content/uploads/2025/07/Tivi-giang-day-thong-minh.webp"><noscript><img src="/user/assets/wp-content/uploads/2025/07/Tivi-giang-day-thong-minh.webp" alt=""></noscript>
            </a>
        </div>
    </div>

    <script>
        jQuery(function ($) {
            if (document.cookie.split('; ').indexOf('popup_shown=1') !== -1) {
                return;
            }
            setTimeout(function () {
                $('#custom-popup').fadeIn();
            }, 3000);
            $('.close-popup, .popup-overlay').on('click', function () {
                $('#custom-popup').fadeOut();
                var minutes = 1440;
                var expire = new Date();
                expire.setTime(expire.getTime() + minutes * 60 * 1000);
                document.cookie = "popup_shown=1; expires=" + expire.toUTCString() + "; path=/";
            });
        });
    </script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var elements = document.querySelectorAll('.box-product-qua'); //Thay class mong muốn
            elements.forEach(function (el) {
                var link = document.createElement('a');
                link.href = "/man-hinh-thong-minh-65-inch-innosmart-etv-wptv6500-vn"; // Thay link mong muốn
                link.innerHTML = el.innerHTML;
                el.innerHTML = "";
                el.appendChild(link);
            });
        });
    </script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var elements = document.querySelectorAll('.box-product-qua-1'); //Thay class mong muốn
            elements.forEach(function (el) {
                var link = document.createElement('a');
                link.href = "/man-hinh-thong-minh-75-inch-innosmart-etv-wptv7500-vn"; // Thay link mong muốn
                link.innerHTML = el.innerHTML;
                el.innerHTML = "";
                el.appendChild(link);
            });
        });
    </script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var elements = document.querySelectorAll('.box-product-qua-2'); //Thay class mong muốn
            elements.forEach(function (el) {
                var link = document.createElement('a');
                link.href = "/man-hinh-tuong-tac-innosmart-65-inch-tich-hop-ops"; // Thay link mong muốn
                link.innerHTML = el.innerHTML;
                el.innerHTML = "";
                el.appendChild(link);
            });
        });
    </script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var elements = document.querySelectorAll('.box-product-qua-3'); //Thay class mong muốn
            elements.forEach(function (el) {
                var link = document.createElement('a');
                link.href = "/man-hinh-tuong-tac-innosmart-75-inch-tich-hop-ops"; // Thay link mong muốn
                link.innerHTML = el.innerHTML;
                el.innerHTML = "";
                el.appendChild(link);
            });
        });
    </script>
    <!-- Thông báo CTKM
    [lightbox auto_open="true" auto_timer="3000" auto_show="always" auto_show_duration="30m" id="newsletter-signup-link" width="800px" padding="2px"]
    [block id="popup-home-page"]
    [/lightbox]-->


    <script>
        let currency = document.getElementById('currency');
        async function callingFn() {
            try {
                const response = await fetch("https://v1.nocodeapi.com/saomaimarketing/cx/RxFqoxytVoJxiukF/rates/convert?amount=10&amp;from=USD&amp;to=Eur", {
                    method: "get",
                    headers: {
                        "Content-Type": "application/json"
                    }
                });
                const json = await response.json();
                currency.innerHTML = "Success:" + JSON.stringify(json);
            } catch (error) {
                console.error("Error:", error);
            }
        }
        callingFn();
        <script><div class="ux-body-overlay"></div>    <div id="login-form-popup" class="lightbox-content mfp-hide">
            <div class="woocommerce">
                <div class="woocommerce-notices-wrapper"></div>
                <div class="account-container lightbox-inner">


                    <div class="account-login-inner">

                        <h3 class="uppercase">Đăng nhập</h3>

                        <form class="woocommerce-form woocommerce-form-login login" method="post">


                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="username">Tên tài khoản hoặc địa chỉ email&nbsp;<span class="required">*</span></label>
                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="" />					</p>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="password">Mật khẩu&nbsp;<span class="required">*</span></label>
                                <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" />
                            </p>


                            <p class="form-row">
                                <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                    <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Ghi nhớ mật khẩu</span>
                                </label>
                                <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="ba8e6ce41d" /><input type="hidden" name="_wp_http_referer" value="index.html" />						<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Đăng nhập">Đăng nhập</button>
                            </p>
                            <p class="woocommerce-LostPassword lost_password">
                                <a href="/my-account/lost-password">Quên mật khẩu?</a>
                            </p>


                        </form>
                    </div>


                </div>

            </div>
        </div>
            <script type='text/javascript'>
                (function () {
                    var c = document.body.className;
                c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
                document.body.className = c;
                })();
    </script>
    <script type="text/template" id="tmpl-variation-template">
        <div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
        <div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
        <div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
    </script>
    <script type="text/template" id="tmpl-unavailable-variation-template">
        <p role="alert">Rất tiếc, sản phẩm này hiện không tồn tại. Hãy chọn một phương thức kết hợp khác.</p>
    </script>
    <script type="text/javascript" src="/user/assets/wp-includes/js/dist/hooks.minaf5f.js?ver=dd5603f07f9220ed27f1" id="wp-hooks-js" defer></script>
    <script type="text/javascript" src="/user/assets/wp-includes/js/dist/i18n.min1cde.js?ver=c26c3dc7bed366793375" id="wp-i18n-js" defer></script>
    <script type="text/javascript" id="wp-i18n-js-after">
        /* <![CDATA[ */
                wp.i18n.setLocaleData( {'text direction\u0004ltr': [ 'ltr' ] } );
        //# sourceURL=wp-i18n-js-after
        /* ]]> */
    </script>
    <script data-minify="1" type="text/javascript" src="/user/assets/wp-content/cache/min/1/wp-content/plugins/contact-form-7/includes/swv/js/index-9d4d66b315bc4b6efc7aff41d3992eac.js" id="swv-js" defer></script>
    <script type="text/javascript" id="contact-form-7-js-translations">
        /* <![CDATA[ */
                ( function( domain, translations ) {
            var localeData = translations.locale_data[ domain ] || translations.locale_data.messages;
                localeData[""].domain = domain;
                wp.i18n.setLocaleData( localeData, domain );
        } )( "contact-form-7", {"translation-revision-date":"2024-08-11 13:44:17+0000","generator":"GlotPress\/4.0.1","domain":"messages","locale_data":{"messages":{"":{"domain":"messages","plural-forms":"nplurals=1; plural=0;","lang":"vi_VN"},"This contact form is placed in the wrong place.":["Bi\u1ec3u m\u1eabu li\u00ean h\u1ec7 n\u00e0y \u0111\u01b0\u1ee3c \u0111\u1eb7t sai v\u1ecb tr\u00ed."],"Error:":["L\u1ed7i:"]}},"comment":{"reference":"includes\/js\/index.js"}} );
        //# sourceURL=contact-form-7-js-translations
        /* ]]> */
    </script>
    <script type="text/javascript" id="contact-form-7-js-before">
        /* <![CDATA[ */
                var wpcf7 = {
                    "api": {
                    "root": "https:\/\/inno.com.vn\/wp-json\/",
                "namespace": "contact-form-7\/v1"
            },
                "cached": 1
        };
        //# sourceURL=contact-form-7-js-before
        /* ]]> */
    </script>
    <script data-minify="1" type="text/javascript" src="/user/assets/wp-content/cache/min/1/wp-content/plugins/contact-form-7/includes/js/index-2cc8ac62e8397cc42a4d3f4c05b77fcf.js" id="contact-form-7-js" defer></script>
    <script data-minify="1" type="text/javascript" src="/user/assets/wp-content/cache/min/1/wp-content/plugins/foxtool/link/chat/foxchat-005ad4cc210873b7265561ef647c60e5.js" id="chat-js-js" defer></script>
    <script type="text/javascript" id="woocommerce-js-extra">
        /* <![CDATA[ */
                var woocommerce_params = {"ajax_url":"/wp-admin/admin-ajax.php","wc_ajax_url":"/?wc-ajax=%%endpoint%%","i18n_password_show":"Hi\u1ec3n th\u1ecb m\u1eadt kh\u1ea9u","i18n_password_hide":"\u1ea8n m\u1eadt kh\u1ea9u"};
        //# sourceURL=woocommerce-js-extra
        /* ]]> */
    </script>
    <script type="text/javascript" src="/user/assets/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.minb70a.js?ver=10.3.6" id="woocommerce-js" data-wp-strategy="defer"></script>
    <script type="text/javascript" src="/user/assets/wp-includes/js/underscore.min3ab8.js?ver=1.13.7" id="underscore-js" defer></script>
    <script type="text/javascript" id="wp-util-js-extra">
        /* <![CDATA[ */
                var _wpUtilSettings = {"ajax":{"url":"/wp-admin/admin-ajax.php"}};
        //# sourceURL=wp-util-js-extra
        /* ]]> */
    </script>
    <script type="text/javascript" src="/user/assets/wp-includes/js/wp-util.mind4d0.js?ver=6.9" id="wp-util-js" defer></script>
    <script type="text/javascript" id="wp-api-request-js-extra">
        /* <![CDATA[ */
                var wpApiSettings = {"root":"https://inno.com.vn/wp-json/","nonce":"312d8c6762","versionString":"wp/v2/"};
        //# sourceURL=wp-api-request-js-extra
        /* ]]> */
    </script>
    <script type="text/javascript" src="/user/assets/wp-includes/js/api-request.mind4d0.js?ver=6.9" id="wp-api-request-js" defer></script>
    <script type="text/javascript" src="/user/assets/wp-includes/js/dist/url.min5b91.js?ver=9e178c9516d1222dc834" id="wp-url-js" defer></script>
    <script type="text/javascript" id="wp-api-fetch-js-translations">
        /* <![CDATA[ */
                ( function( domain, translations ) {
            var localeData = translations.locale_data[ domain ] || translations.locale_data.messages;
                localeData[""].domain = domain;
                wp.i18n.setLocaleData( localeData, domain );
        } )( "default", {"translation-revision-date":"2025-09-01 09:12:13+0000","generator":"GlotPress\/4.0.3","domain":"messages","locale_data":{"messages":{"":{"domain":"messages","plural-forms":"nplurals=1; plural=0;","lang":"vi_VN"},"Media upload failed. If this is a photo or a large image, please scale it down and try again.":["T\u1ea3i l\u00ean media kh\u00f4ng th\u00e0nh c\u00f4ng. N\u1ebfu \u0111\u00e2y l\u00e0 h\u00ecnh \u1ea3nh c\u00f3 k\u00edch th\u01b0\u1edbc l\u1edbn, vui l\u00f2ng thu nh\u1ecf n\u00f3 xu\u1ed1ng v\u00e0 th\u1eed l\u1ea1i."],"The response is not a valid JSON response.":["Ph\u1ea3n h\u1ed3i kh\u00f4ng ph\u1ea3i l\u00e0 m\u1ed9t JSON h\u1ee3p l\u1ec7."]}},"comment":{"reference":"wp-includes\/js\/dist\/api-fetch.js"}} );
        //# sourceURL=wp-api-fetch-js-translations
        /* ]]> */
    </script>
    <script type="text/javascript" src="/user/assets/wp-includes/js/dist/api-fetch.min7cb7.js?ver=3a4d9af2b423048b0dee" id="wp-api-fetch-js" defer></script>
    <script type="text/javascript" id="wp-api-fetch-js-after">
        /* <![CDATA[ */
                wp.apiFetch.use( wp.apiFetch.createRootURLMiddleware( "wp-json/index.html" ) );
                wp.apiFetch.nonceMiddleware = wp.apiFetch.createNonceMiddleware( "312d8c6762" );
                wp.apiFetch.use( wp.apiFetch.nonceMiddleware );
                wp.apiFetch.use( wp.apiFetch.mediaUploadMiddleware );
                wp.apiFetch.nonceEndpoint = "wp-admin/admin-ajaxf809.html?action=rest-nonce";
        //# sourceURL=wp-api-fetch-js-after
        /* ]]> */
    </script>
    <script type="text/javascript" src="/user/assets/wp-includes/js/dist/vendor/wp-polyfill.min2c7c.js?ver=3.15.0" id="wp-polyfill-js" defer></script>
    <script type="text/javascript" id="woo-variation-swatches-js-extra">
        /* <![CDATA[ */
                var woo_variation_swatches_options = {"show_variation_label":"1","clear_on_reselect":"","variation_label_separator":":","is_mobile":"","show_variation_stock":"","stock_label_threshold":"5","cart_redirect_after_add":"no","enable_ajax_add_to_cart":"yes","cart_url":"https://inno.com.vn/cart/","is_cart":""};
        //# sourceURL=woo-variation-swatches-js-extra
        /* ]]> */
    </script>
    <script type="text/javascript" src="/user/assets/wp-content/plugins/woo-variation-swatches/assets/js/frontend.min4816.js?ver=1762911215" id="woo-variation-swatches-js" defer></script>
    <script type="text/javascript" src="/user/assets/wp-includes/js/hoverIntent.min3e5a.js?ver=1.10.2" id="hoverIntent-js" defer></script>
    <script type="text/javascript" id="flatsome-js-js-extra">
        /* <![CDATA[ */
                var flatsomeVars = {"theme":{"version":"3.17.3"},"ajaxurl":"https://inno.com.vn/wp-admin/admin-ajax.php","rtl":"","sticky_height":"70","stickyHeaderHeight":"0","scrollPaddingTop":"0","assets_url":"https://inno.com.vn/wp-content/themes/flatsome/assets/","lightbox":{"close_markup":"\u003Cbutton title=\"%title%\" type=\"button\" class=\"mfp-close\"\u003E\u003Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"\u003E\u003Cline x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"\u003E\u003C/line\u003E\u003Cline x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"\u003E\u003C/line\u003E\u003C/svg\u003E\u003C/button\u003E","close_btn_inside":false},"user":{"can_edit_pages":false},"i18n":{"mainMenu":"Main Menu","toggleButton":"Toggle"},"options":{"cookie_notice_version":"1","swatches_layout":false,"swatches_disable_deselect":false,"swatches_box_select_event":false,"swatches_box_behavior_selected":false,"swatches_box_update_urls":"1","swatches_box_reset":false,"swatches_box_reset_limited":false,"swatches_box_reset_extent":false,"swatches_box_reset_time":300,"search_result_latency":"0"},"is_mini_cart_reveal":"1"};
        //# sourceURL=flatsome-js-js-extra
        /* ]]> */
    </script>
    <script data-minify="1" type="text/javascript" src="/user/assets/wp-content/cache/min/1/wp-content/themes/flatsome/assets/js/flatsome-ab6af41c96ed6a978caa65953f51b64c.js" id="flatsome-js-js" defer></script>
    <script data-minify="1" type="text/javascript" src="/user/assets/wp-content/cache/min/1/wp-content/themes/flatsome/inc/integrations/wp-rocket/flatsome-wp-rocket-76c97f048b4e1d6708a00aa623e48ad3.js" id="flatsome-wp-rocket-js" defer></script>
    <script data-minify="1" type="text/javascript" src="/user/assets/wp-content/cache/min/1/wp-content/themes/flatsome/inc/extensions/flatsome-live-search/flatsome-live-search-b5772a94accf41c925aeaf864bbaeac2.js" id="flatsome-live-search-js" defer></script>
    <script type="text/javascript" id="wd-asl-ajaxsearchlite-js-before">
        /* <![CDATA[ */
                window.ASL = typeof window.ASL !== 'undefined' ? window.ASL : { }; window.ASL.wp_rocket_exception = "DOMContentLoaded"; window.ASL.ajaxurl = "index.html\/\/inno.com.vn\/wp-admin\/admin-ajax.php"; window.ASL.backend_ajaxurl = "index.html\/\/inno.com.vn\/wp-admin\/admin-ajax.php"; window.ASL.asl_url = "index.html\/\/inno.com.vn\/wp-content\/plugins\/ajax-search-lite\/"; window.ASL.detect_ajax = 1; window.ASL.media_query = 4780; window.ASL.version = 4780; window.ASL.pageHTML = ""; window.ASL.additional_scripts = []; window.ASL.script_async_load = false; window.ASL.init_only_in_viewport = true; window.ASL.font_url = "index.html\/\/inno.com.vn\/wp-content\/plugins\/ajax-search-lite\/css\/fonts\/icons2.woff2"; window.ASL.highlight = {"enabled":false,"data":[]}; window.ASL.analytics = {"method":0,"tracking_id":"","string":"?ajax_search={asl_term}","event":{"focus":{"active":true,"action":"focus","category":"ASL","label":"Input focus","value":"1"},"search_start":{"active":false,"action":"search_start","category":"ASL","label":"Phrase: {phrase}","value":"1"},"search_end":{"active":true,"action":"search_end","category":"ASL","label":"{phrase} | {results_count}","value":"1"},"magnifier":{"active":true,"action":"magnifier","category":"ASL","label":"Magnifier clicked","value":"1"},"return":{"active":true,"action":"return","category":"ASL","label":"Return button pressed","value":"1"},"facet_change":{"active":false,"action":"facet_change","category":"ASL","label":"{option_label} | {option_value}","value":"1"},"result_click":{"active":true,"action":"result_click","category":"ASL","label":"{result_title} | {result_url}","value":"1"}}};
        //# sourceURL=wd-asl-ajaxsearchlite-js-before
        /* ]]> */
    </script>
    <script type="text/javascript" src="/user/assets/wp-content/plugins/ajax-search-lite/js/min/plugin/merged/asl.min8207.js?ver=4780" id="wd-asl-ajaxsearchlite-js" defer></script>
    <script type="text/javascript" src="/user/assets/wp-content/plugins/woocommerce/assets/js/sourcebuster/sourcebuster.minb70a.js?ver=10.3.6" id="sourcebuster-js-js" defer></script>
    <script type="text/javascript" id="wc-order-attribution-js-extra">
        /* <![CDATA[ */
                var wc_order_attribution = {"params":{"lifetime":1.0e-5,"session":30,"base64":false,"ajaxurl":"https://inno.com.vn/wp-admin/admin-ajax.php","prefix":"wc_order_attribution_","allowTracking":true},"fields":{"source_type":"current.typ","referrer":"current_add.rf","utm_campaign":"current.cmp","utm_source":"current.src","utm_medium":"current.mdm","utm_content":"current.cnt","utm_id":"current.id","utm_term":"current.trm","utm_source_platform":"current.plt","utm_creative_format":"current.fmt","utm_marketing_tactic":"current.tct","session_entry":"current_add.ep","session_start_time":"current_add.fd","session_pages":"session.pgs","session_count":"udata.vst","user_agent":"udata.uag"}};
        //# sourceURL=wc-order-attribution-js-extra
        /* ]]> */
    </script>
    <script type="text/javascript" src="/user/assets/wp-content/plugins/woocommerce/assets/js/frontend/order-attribution.minb70a.js?ver=10.3.6" id="wc-order-attribution-js" defer></script>
    <script data-minify="1" type="text/javascript" src="/user/assets/wp-content/cache/min/1/wp-content/themes/flatsome/assets/js/woocommerce-3eb698dbf7842403b45fb4de6241de26.js" id="flatsome-theme-woocommerce-js-js" defer></script>
    <script type="text/javascript" id="wc-add-to-cart-variation-js-extra">
        /* <![CDATA[ */
                var wc_add_to_cart_variation_params = {"wc_ajax_url":"/?wc-ajax=%%endpoint%%","i18n_no_matching_variations_text":"R\u1ea5t ti\u1ebfc, kh\u00f4ng c\u00f3 s\u1ea3n ph\u1ea9m n\u00e0o ph\u00f9 h\u1ee3p v\u1edbi l\u1ef1a ch\u1ecdn c\u1ee7a b\u1ea1n. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c.","i18n_make_a_selection_text":"Ch\u1ecdn c\u00e1c t\u00f9y ch\u1ecdn cho s\u1ea3n ph\u1ea9m tr\u01b0\u1edbc khi cho s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng c\u1ee7a b\u1ea1n.","i18n_unavailable_text":"R\u1ea5t ti\u1ebfc, s\u1ea3n ph\u1ea9m n\u00e0y hi\u1ec7n kh\u00f4ng t\u1ed3n t\u1ea1i. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c.","i18n_reset_alert_text":"L\u1ef1a ch\u1ecdn c\u1ee7a b\u1ea1n \u0111\u00e3 \u0111\u01b0\u1ee3c \u0111\u1eb7t l\u1ea1i. Vui l\u00f2ng ch\u1ecdn m\u1ed9t s\u1ed1 t\u00f9y ch\u1ecdn s\u1ea3n ph\u1ea9m tr\u01b0\u1edbc khi th\u00eam s\u1ea3n ph\u1ea9m n\u00e0y v\u00e0o gi\u1ecf h\u00e0ng c\u1ee7a b\u1ea1n."};
                //# sourceURL=wc-add-to-cart-variation-js-extra
                /* ]]> */
    </script>
    <script type="text/javascript" src="/user/assets/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.minb70a.js?ver=10.3.6" id="wc-add-to-cart-variation-js" defer="defer" data-wp-strategy="defer"></script>
    <script data-minify="1" defer type="text/javascript" src="/user/assets/wp-content/cache/min/1/wp-content/plugins/akismet/_inc/akismet-frontend-8477c31cc9ac9a215b11351e01499b1f.js" id="akismet-frontend-js"></script>
    <script src="../widget.cxgenie.ai/widget.js" data-aid="7655ed24-558c-4ceb-931f-3c86235194d0" data-lang="vi" defer></script>

    <script>
        window.lazyLoadOptions={elements_selector:"img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]",data_src:"lazy-src",data_srcset:"lazy-srcset",data_sizes:"lazy-sizes",class_loading:"lazyloading",class_loaded:"lazyloaded",threshold:300,callback_loaded:function(element){if(element.tagName==="IFRAME"&&element.dataset.rocketLazyload=="fitvidscompatible"){if(element.classList.contains("lazyloaded")){if(typeof window.jQuery!="undefined"){if(jQuery.fn.fitVids){jQuery(element).parent().fitVids()}}}}}};window.addEventListener('LazyLoad::Initialized',function(e){var lazyLoadInstance=e.detail.instance;if(window.MutationObserver){var observer=new MutationObserver(function(mutations){var image_count=0;var iframe_count=0;var rocketlazy_count=0;mutations.forEach(function(mutation){for(i=0;i<mutation.addedNodes.length;i++){if(typeof mutation.addedNodes[i].getElementsByTagName!=='function'){return}
        if(typeof mutation.addedNodes[i].getElementsByClassName!=='function'){return}
        images=mutation.addedNodes[i].getElementsByTagName('img');is_image=mutation.addedNodes[i].tagName=="IMG";iframes=mutation.addedNodes[i].getElementsByTagName('iframe');is_iframe=mutation.addedNodes[i].tagName=="IFRAME";rocket_lazy=mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');image_count+=images.length;iframe_count+=iframes.length;rocketlazy_count+=rocket_lazy.length;if(is_image){image_count += 1}
        if(is_iframe){iframe_count += 1}}});if(image_count>0||iframe_count>0||rocketlazy_count>0){lazyLoadInstance.update()}});var b=document.getElementsByTagName("body")[0];var config={childList:!0,subtree:!0};observer.observe(b,config)}},!1)</script>
    <script data-no-minify="1" async src="/user/assets/wp-content/plugins/wp-rocket/assets/js/lazyload/11.0.6/lazyload.min.js"></script>
    <script>        function lazyLoadThumb(e){var t='<img data-lazy-src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360"><noscript><img src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360"></noscript>',a='<div class="play"></div>';return t.replace("ID",e)+a}function lazyLoadYoutubeIframe(){var e=document.createElement("iframe"),t="https://www.youtube.com/embed/ID?autoplay=1";t+=0===this.dataset.query.length?'':'&'+this.dataset.query;e.setAttribute("src",t.replace("ID",this.dataset.id)),e.setAttribute("frameborder","0"),e.setAttribute("allowfullscreen","1"),this.parentNode.replaceChild(e,this)}document.addEventListener("DOMContentLoaded",function(){var e,t,a=document.getElementsByClassName("rll-youtube-player");for(t=0;t<a.length;t++)e=document.createElement("div"),e.setAttribute("data-id",a[t].dataset.id),e.setAttribute("data-query", a[t].dataset.query),e.innerHTML=lazyLoadThumb(a[t].dataset.id),e.onclick=lazyLoadYoutubeIframe,a[t].appendChild(e)});</script>
    <script src="~/user/assets/sweetalert2.all.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

<!-- Mirrored from inno.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Dec 2025 01:45:30 GMT -->
</html>

<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1764981066 -->