USE [master]
GO
/****** Object:  Database [DB_MyShop]    Script Date: 12/12/2025 15:39:50 ******/
CREATE DATABASE [DB_MyShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_MyShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_MyShop.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_MyShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_MyShop_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_MyShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_MyShop]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[advertise]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[advertise](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Image] [varchar](255) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Link] [varchar](255) NULL,
	[Target] [varchar](10) NULL,
	[Content] [ntext] NULL,
	[Position] [smallint] NULL,
	[PageId] [int] NULL,
	[Click] [int] NULL,
	[Ord] [int] NULL,
	[Active] [bit] NULL,
	[Lang] [varchar](5) NULL,
 CONSTRAINT [PK__advertis__3214EC079BF6AF2C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[branches]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](100) NULL,
	[email] [nvarchar](255) NULL,
	[region] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__branches__3213E83F82F95A1E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent_id] [int] NULL,
	[slug] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__categori__3213E83F9AF502C7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[config]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[config](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mail_Smtp] [varchar](64) NULL,
	[Mail_Port] [smallint] NULL,
	[Mail_Info] [varchar](64) NULL,
	[Mail_Noreply] [varchar](64) NULL,
	[Mail_Password] [varchar](64) NULL,
	[PlaceHead] [nvarchar](500) NULL,
	[PlaceBody] [nvarchar](500) NULL,
	[GoogleId] [varchar](50) NULL,
	[Contact] [ntext] NULL,
	[Copyright] [ntext] NULL,
	[Title] [nvarchar](256) NULL,
	[Description] [nvarchar](256) NULL,
	[Keyword] [nvarchar](512) NULL,
	[Lang] [varchar](5) NULL,
	[HotLine] [nvarchar](250) NULL,
	[youtubeLink] [varchar](250) NULL,
	[picasaLink] [varchar](250) NULL,
	[flickrLink] [varchar](250) NULL,
	[socialLink1] [nvarchar](250) NULL,
	[socialLink2] [nvarchar](250) NULL,
	[socialLink3] [nvarchar](250) NULL,
	[socialLink4] [nvarchar](250) NULL,
	[socialLink5] [nvarchar](250) NULL,
	[socialLink6] [nvarchar](250) NULL,
	[socialLink7] [nvarchar](250) NULL,
	[socialLink8] [nvarchar](250) NULL,
	[socialLink9] [nvarchar](250) NULL,
 CONSTRAINT [PK__config__3214EC072A02F346] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contacts]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contacts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK__contacts__3213E83FFF2CA1B5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[customers]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[password_hash] [nvarchar](255) NULL,
	[gender] [nvarchar](20) NULL,
	[birthday] [date] NULL,
	[address] [nvarchar](max) NULL,
	[shipping_address] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__customer__CD65CB858C7A8236] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dealers]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dealers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[contact_person] [nvarchar](255) NULL,
	[phone] [nvarchar](100) NULL,
	[email] [nvarchar](255) NULL,
	[address] [nvarchar](max) NULL,
	[region] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__dealers__3213E83F447EEEE8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GroupNews]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GroupNews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Tag] [nvarchar](256) NULL,
	[Level] [varchar](256) NULL,
	[Title] [nvarchar](256) NULL,
	[Description] [nvarchar](256) NULL,
	[Keyword] [nvarchar](512) NULL,
	[Ord] [int] NULL,
	[Priority] [int] NULL,
	[Index] [int] NULL,
	[Active] [int] NULL,
	[Lang] [varchar](5) NULL,
	[Type1] [int] NULL,
	[Type2] [int] NULL,
	[Type3] [int] NULL,
	[Type4] [int] NULL,
	[Type5] [int] NULL,
	[Hinhanh] [varchar](300) NULL,
 CONSTRAINT [PK__GroupNew__3214EC070EDC241F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[news]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](512) NULL,
	[slug] [nvarchar](255) NULL,
	[excerpt] [nvarchar](max) NULL,
	[content] [ntext] NULL,
	[author_id] [bigint] NULL,
	[group_id] [int] NULL,
	[status] [int] NULL,
	[published_at] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__news__3213E83F96034635] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order_details]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NULL,
	[product_id] [bigint] NULL,
	[quantity] [int] NULL,
	[total] [decimal](15, 2) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__order_de__3213E83F850EE356] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_code] [nvarchar](50) NULL,
	[customer_id] [bigint] NULL,
	[full_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[shipping_address] [nvarchar](max) NULL,
	[note] [nvarchar](max) NULL,
	[payment_method] [varchar](50) NULL,
	[payment_status] [varchar](50) NULL,
	[order_status] [varchar](50) NULL,
	[subtotal_amount] [decimal](15, 2) NULL,
	[total_amount] [decimal](15, 2) NULL,
	[discount_amount] [decimal](15, 2) NULL,
	[shipping_fee] [decimal](15, 2) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__orders__3213E83F737BC3A5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[page]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[page](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Tag] [nvarchar](256) NULL,
	[Content] [nvarchar](4000) NULL,
	[Detail] [ntext] NULL,
	[Level] [varchar](256) NULL,
	[Title] [nvarchar](256) NULL,
	[Description] [nvarchar](256) NULL,
	[Keyword] [nvarchar](512) NULL,
	[Type] [int] NULL,
	[Link] [varchar](512) NULL,
	[Target] [varchar](64) NULL,
	[Index] [int] NULL,
	[Position] [int] NULL,
	[Ord] [int] NULL,
	[Active] [int] NULL,
	[Lang] [varchar](5) NULL,
	[GroupId] [int] NULL,
 CONSTRAINT [PK__page__3214EC079E814B9E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[image_url] [varchar](500) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__product___3213E83FA2573AEF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_specs]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_specs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NULL,
	[spec_name] [nvarchar](255) NULL,
	[spec_value] [nvarchar](255) NULL,
 CONSTRAINT [PK__product___3213E83FC2F42CC2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[name] [nvarchar](512) NULL,
	[slug] [nvarchar](255) NULL,
	[dealer_id] [int] NULL,
	[price] [decimal](15, 2) NULL,
	[sale_price] [decimal](15, 2) NULL,
	[image] [varchar](500) NULL,
	[description] [ntext] NULL,
	[status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__products__3213E83F36771480] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/12/2025 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NULL,
	[full_name] [nvarchar](255) NULL,
	[role] [int] NULL,
	[status] [tinyint] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__users__3213E83F219CC15B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251212080211_v1', N'9.0.11')
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [parent_id], [slug], [name], [created_at], [updated_at]) VALUES (1, NULL, N'may-tinh', N'Máy tính', NULL, NULL)
INSERT [dbo].[categories] ([id], [parent_id], [slug], [name], [created_at], [updated_at]) VALUES (2, NULL, N'ien-thoai', N'Điện thoại', NULL, NULL)
INSERT [dbo].[categories] ([id], [parent_id], [slug], [name], [created_at], [updated_at]) VALUES (3, NULL, N'tivi', N'Tivi', NULL, NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[dealers] ON 

INSERT [dbo].[dealers] ([id], [name], [contact_person], [phone], [email], [address], [region], [created_at]) VALUES (1, N'Đại lý A', N'Anh Nam', N'0909000001', N'a@ex.com', N'HCM', N'South', CAST(N'2025-12-12 15:15:23.653' AS DateTime))
INSERT [dbo].[dealers] ([id], [name], [contact_person], [phone], [email], [address], [region], [created_at]) VALUES (2, N'Đại lý B', N'Chị Hương', N'0909000002', N'b@ex.com', N'HN', N'North', CAST(N'2025-12-12 15:15:23.653' AS DateTime))
INSERT [dbo].[dealers] ([id], [name], [contact_person], [phone], [email], [address], [region], [created_at]) VALUES (3, N'Đại lý C', N'Anh Quân', N'0909000003', N'c@ex.com', N'DN', N'Central', CAST(N'2025-12-12 15:15:23.653' AS DateTime))
SET IDENTITY_INSERT [dbo].[dealers] OFF
SET IDENTITY_INSERT [dbo].[product_images] ON 

INSERT [dbo].[product_images] ([id], [product_id], [image_url], [created_at]) VALUES (1, 1, N'/files/46-INCH-INNO-DF461HMD-DW17-1.7MM-03-Lon-Lon-300x300.webp', NULL)
INSERT [dbo].[product_images] ([id], [product_id], [image_url], [created_at]) VALUES (2, 1, N'/files/46-INCH-INNO-DF461HMD-DW17-1.7MM-03-Lon-Lon-600x600.webp', NULL)
INSERT [dbo].[product_images] ([id], [product_id], [image_url], [created_at]) VALUES (3, 1, N'/files/46-INCH-INNO-DF461HMD-DW17-1.7MM-03-Lon-Lon.webp', NULL)
SET IDENTITY_INSERT [dbo].[product_images] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [category_id], [name], [slug], [dealer_id], [price], [sale_price], [image], [description], [status], [created_at], [updated_at]) VALUES (1, 6, N'Máy tính Acer văn phòng', N'may-tinh-acer-van-phong', 2, CAST(10000000.00 AS Decimal(15, 2)), CAST(9999999.00 AS Decimal(15, 2)), N'/files/Ban-hoc-vien-INNOSMART-INFURNI-K003-2KT-100x100.webp', N'Ghế đẹp', N'active', CAST(N'2025-12-12 15:19:03.750' AS DateTime), NULL)
INSERT [dbo].[products] ([id], [category_id], [name], [slug], [dealer_id], [price], [sale_price], [image], [description], [status], [created_at], [updated_at]) VALUES (2, 10, N'Iphone 17 promax', N'iphone-17-promax', 1, CAST(70000000.00 AS Decimal(15, 2)), CAST(69000000.00 AS Decimal(15, 2)), N'/files/BN900.jpg', NULL, N'active', NULL, CAST(N'2025-12-12 15:20:39.343' AS DateTime))
INSERT [dbo].[products] ([id], [category_id], [name], [slug], [dealer_id], [price], [sale_price], [image], [description], [status], [created_at], [updated_at]) VALUES (3, 16, N'Ti vi Sam sung mg', N'ti-vi-sam-sung-mg', 1, CAST(99999999.00 AS Decimal(15, 2)), CAST(88888.00 AS Decimal(15, 2)), N'/files/Bo-tai-nghe-co-day-day-INNO-HS-SS5.webp', NULL, N'active', CAST(N'2025-12-12 15:21:54.527' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password_hash], [full_name], [role], [status], [created_at], [updated_at]) VALUES (1, N'admin', N'admin@example.com', N'e10adc3949ba59abbe56e057f20f883e', N'Quản trị viên', 1, 1, CAST(N'2025-12-12 15:05:25.097' AS DateTime), CAST(N'2025-12-12 15:05:25.097' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [full_name], [role], [status], [created_at], [updated_at]) VALUES (2, N'user1', N'user1@example.com', N'e10adc3949ba59abbe56e057f20f883e', N'Nguyễn Văn A', 2, 1, CAST(N'2025-12-12 15:05:25.097' AS DateTime), CAST(N'2025-12-12 15:05:25.097' AS DateTime))
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [full_name], [role], [status], [created_at], [updated_at]) VALUES (3, N'user2', N'user2@example.com', N'e10adc3949ba59abbe56e057f20f883e', N'Trần Thị B', 2, 1, CAST(N'2025-12-12 15:05:25.097' AS DateTime), CAST(N'2025-12-12 15:05:25.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
/****** Object:  Index [IX_categories_parent_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_categories_parent_id] ON [dbo].[categories]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__categori__32DD1E4CEB8EB851]    Script Date: 12/12/2025 15:39:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__categori__32DD1E4CEB8EB851] ON [dbo].[categories]
(
	[slug] ASC
)
WHERE ([slug] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_news_author_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_news_author_id] ON [dbo].[news]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_news_group_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_news_group_id] ON [dbo].[news]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__news__32DD1E4CE26D4397]    Script Date: 12/12/2025 15:39:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__news__32DD1E4CE26D4397] ON [dbo].[news]
(
	[slug] ASC
)
WHERE ([slug] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_details_order_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_order_details_order_id] ON [dbo].[order_details]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_details_product_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_order_details_product_id] ON [dbo].[order_details]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_orders_customer_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_orders_customer_id] ON [dbo].[orders]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__orders__99D12D3F5100E481]    Script Date: 12/12/2025 15:39:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__orders__99D12D3F5100E481] ON [dbo].[orders]
(
	[order_code] ASC
)
WHERE ([order_code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_images_product_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_product_images_product_id] ON [dbo].[product_images]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_specs_product_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_product_specs_product_id] ON [dbo].[product_specs]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_category_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_products_category_id] ON [dbo].[products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_dealer_id]    Script Date: 12/12/2025 15:39:50 ******/
CREATE NONCLUSTERED INDEX [IX_products_dealer_id] ON [dbo].[products]
(
	[dealer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__products__32DD1E4CA31D4908]    Script Date: 12/12/2025 15:39:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__products__32DD1E4CA31D4908] ON [dbo].[products]
(
	[slug] ASC
)
WHERE ([slug] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__users__AB6E6164BAF9505E]    Script Date: 12/12/2025 15:39:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__users__AB6E6164BAF9505E] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__users__F3DBC5729D0D7C74]    Script Date: 12/12/2025 15:39:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__users__F3DBC5729D0D7C74] ON [dbo].[users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [fk_categories_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [fk_categories_parent]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD  CONSTRAINT [fk_news_author] FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[news] CHECK CONSTRAINT [fk_news_author]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD  CONSTRAINT [fk_news_group] FOREIGN KEY([group_id])
REFERENCES [dbo].[GroupNews] ([Id])
GO
ALTER TABLE [dbo].[news] CHECK CONSTRAINT [fk_news_group]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [fk_orderdetails_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [fk_orderdetails_order]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [fk_orderdetails_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [fk_orderdetails_product]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_customer]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [fk_product_images_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [fk_product_images_product]
GO
ALTER TABLE [dbo].[product_specs]  WITH CHECK ADD  CONSTRAINT [fk_productspec_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_specs] CHECK CONSTRAINT [fk_productspec_product]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_category]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_products_dealer] FOREIGN KEY([dealer_id])
REFERENCES [dbo].[dealers] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_products_dealer]
GO
USE [master]
GO
