@{
}
<main id="main" class="">


<div id="content" role="main" class="content-area">

		
				<section class="section" id="section_1566400771">
		<div class="bg section-bg fill bg-fill  " >

			
			<div class="section-bg-overlay absolute fill"></div>
			

		</div>

		

		<div class="section-content relative">
			
<div class="row align-middle align-center"  id="row-1463434046">

	<div id="col-202592180" class="col medium-9 small-12 large-9"  >
				<div class="col-inner text-center"  >
			
			
	<div id="text-349682541" class="text">
		
<p>Inno sẵn sàng hỗ trợ bạn!</p>
		
<style>
#text-349682541 {
  text-align: center;
  color: rgb(255,255,255);
}
#text-349682541 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
	<div id="text-1922037352" class="text txt-mhtt-2">
		
<h2>Chào mừng đến với trang hỗ trợ.</h2>
		
<style>
#text-1922037352 {
  font-size: 1.75rem;
  text-align: center;
  color: rgb(255,255,255);
}
#text-1922037352 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
<div class="asl_w_container asl_w_container_1" data-id="1" data-instance="1">
	<div id='ajaxsearchlite1'
		data-id="1"
		data-instance="1"
		class="asl_w asl_m asl_m_1 asl_m_1_1">
		<div class="probox">

	
	<div class='prosettings' style='display:none;' data-opened=0>
				<div class='innericon'>
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22" height="22" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
					<polygon transform = "rotate(90 256 256)" points="142.332,104.886 197.48,50 402.5,256 197.48,462 142.332,407.113 292.727,256 "/>
				</svg>
		</div>
	</div>

	
	
	<div class='proinput'>
		<form role="search" action='#' autocomplete="off"
				aria-label="Search form">
			<input aria-label="Search input"
					type='search' class='orig'
					tabindex="0"
					name='phrase'
					placeholder='Search here..'
					value=''
					autocomplete="off"/>
			<input aria-label="Search autocomplete"
					type='text'
					class='autocomplete'
					tabindex="-1"
					name='phrase'
					value=''
					autocomplete="off" disabled/>
			<input type='submit' value="Start search" style='width:0; height: 0; visibility: hidden;'>
		</form>
	</div>

	
	
	<button class='promagnifier' tabindex="0" aria-label="Search magnifier">
				<span class='innericon' style="display:block;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22" height="22" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
					<path d="M460.355,421.59L353.844,315.078c20.041-27.553,31.885-61.437,31.885-98.037
						C385.729,124.934,310.793,50,218.686,50C126.58,50,51.645,124.934,51.645,217.041c0,92.106,74.936,167.041,167.041,167.041
						c34.912,0,67.352-10.773,94.184-29.158L419.945,462L460.355,421.59z M100.631,217.041c0-65.096,52.959-118.056,118.055-118.056
						c65.098,0,118.057,52.959,118.057,118.056c0,65.096-52.959,118.056-118.057,118.056C153.59,335.097,100.631,282.137,100.631,217.041
						z"/>
				</svg>
		</span>
	</button>

	
	
	<div class='proloading'>

		<div class="asl_loader"><div class="asl_loader-inner asl_simple-circle"></div></div>

			</div>

			<div class='proclose'>
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px"
				width="12" height="12" viewBox="0 0 512 512" enable-background="new 0 0 512 512"
				xml:space="preserve">
				<polygon points="438.393,374.595 319.757,255.977 438.378,137.348 374.595,73.607 255.995,192.225 137.375,73.622 73.607,137.352 192.246,255.983 73.622,374.625 137.352,438.393 256.002,319.734 374.652,438.378 "/>
			</svg>
		</div>
	
	
</div>	</div>
	<div class='asl_data_container' style="display:none !important;">
		<div class="asl_init_data wpdreams_asl_data_ct"
	style="display:none !important;"
	id="asl_init_id_1"
	data-asl-id="1"
	data-asl-instance="1"
	data-settings="{&quot;homeurl&quot;:&quot;https:\/\/inno.com.vn\/&quot;,&quot;resultstype&quot;:&quot;vertical&quot;,&quot;resultsposition&quot;:&quot;hover&quot;,&quot;itemscount&quot;:4,&quot;charcount&quot;:0,&quot;highlight&quot;:false,&quot;highlightWholewords&quot;:true,&quot;singleHighlight&quot;:false,&quot;scrollToResults&quot;:{&quot;enabled&quot;:false,&quot;offset&quot;:0},&quot;resultareaclickable&quot;:1,&quot;autocomplete&quot;:{&quot;enabled&quot;:true,&quot;lang&quot;:&quot;vi&quot;,&quot;trigger_charcount&quot;:0},&quot;mobile&quot;:{&quot;menu_selector&quot;:&quot;#menu-toggle&quot;},&quot;trigger&quot;:{&quot;click&quot;:&quot;results_page&quot;,&quot;click_location&quot;:&quot;same&quot;,&quot;update_href&quot;:false,&quot;return&quot;:&quot;results_page&quot;,&quot;return_location&quot;:&quot;same&quot;,&quot;facet&quot;:true,&quot;type&quot;:true,&quot;redirect_url&quot;:&quot;?s={phrase}&quot;,&quot;delay&quot;:300},&quot;animations&quot;:{&quot;pc&quot;:{&quot;settings&quot;:{&quot;anim&quot;:&quot;fadedrop&quot;,&quot;dur&quot;:300},&quot;results&quot;:{&quot;anim&quot;:&quot;fadedrop&quot;,&quot;dur&quot;:300},&quot;items&quot;:&quot;voidanim&quot;},&quot;mob&quot;:{&quot;settings&quot;:{&quot;anim&quot;:&quot;fadedrop&quot;,&quot;dur&quot;:300},&quot;results&quot;:{&quot;anim&quot;:&quot;fadedrop&quot;,&quot;dur&quot;:300},&quot;items&quot;:&quot;voidanim&quot;}},&quot;autop&quot;:{&quot;state&quot;:true,&quot;phrase&quot;:&quot;&quot;,&quot;count&quot;:&quot;1&quot;},&quot;resPage&quot;:{&quot;useAjax&quot;:false,&quot;selector&quot;:&quot;#main&quot;,&quot;trigger_type&quot;:true,&quot;trigger_facet&quot;:true,&quot;trigger_magnifier&quot;:false,&quot;trigger_return&quot;:false},&quot;resultsSnapTo&quot;:&quot;left&quot;,&quot;results&quot;:{&quot;width&quot;:&quot;auto&quot;,&quot;width_tablet&quot;:&quot;auto&quot;,&quot;width_phone&quot;:&quot;auto&quot;},&quot;settingsimagepos&quot;:&quot;right&quot;,&quot;closeOnDocClick&quot;:true,&quot;overridewpdefault&quot;:true,&quot;override_method&quot;:&quot;get&quot;}"></div>
	<div id="asl_hidden_data">
		<svg style="position:absolute" height="0" width="0">
			<filter id="aslblur">
				<feGaussianBlur in="SourceGraphic" stdDeviation="4"/>
			</filter>
		</svg>
		<svg style="position:absolute" height="0" width="0">
			<filter id="no_aslblur"></filter>
		</svg>
	</div>
	</div>

	<div id='ajaxsearchliteres1'
	class='vertical wpdreams_asl_results asl_w asl_r asl_r_1 asl_r_1_1'>

	
	<div class="results">

		
		<div class="resdrg">
		</div>

		
	</div>

	
	
</div>

	<div id='__original__ajaxsearchlitesettings1'
		data-id="1"
		class="searchsettings wpdreams_asl_settings asl_w asl_s asl_s_1">
		<form name='options'
		aria-label="Search settings form"
		autocomplete = 'off'>

	
	
	<input type="hidden" name="filters_changed" style="display:none;" value="0">
	<input type="hidden" name="filters_initial" style="display:none;" value="1">

	<div class="asl_option_inner hiddend">
		<input type='hidden' name='qtranslate_lang' id='qtranslate_lang'
				value='0'/>
	</div>

	
	
	<fieldset class="asl_sett_scroll">
		<legend style="display: none;">Generic selectors</legend>
		<div class="asl_option" tabindex="0">
			<div class="asl_option_inner">
				<input type="checkbox" value="exact"
						aria-label="Exact matches only"
						name="asl_gen[]" />
				<div class="asl_option_checkbox"></div>
			</div>
			<div class="asl_option_label">
				Exact matches only			</div>
		</div>
		<div class="asl_option" tabindex="0">
			<div class="asl_option_inner">
				<input type="checkbox" value="title"
						aria-label="Search in title"
						name="asl_gen[]"  checked="checked"/>
				<div class="asl_option_checkbox"></div>
			</div>
			<div class="asl_option_label">
				Search in title			</div>
		</div>
		<div class="asl_option" tabindex="0">
			<div class="asl_option_inner">
				<input type="checkbox" value="content"
						aria-label="Search in content"
						name="asl_gen[]"  checked="checked"/>
				<div class="asl_option_checkbox"></div>
			</div>
			<div class="asl_option_label">
				Search in content			</div>
		</div>
		<div class="asl_option_inner hiddend">
			<input type="checkbox" value="excerpt"
					aria-label="Search in excerpt"
					name="asl_gen[]"  checked="checked"/>
			<div class="asl_option_checkbox"></div>
		</div>
	</fieldset>
	<fieldset class="asl_sett_scroll">
		<legend style="display: none;">Post Type Selectors</legend>
					<div class="asl_option_inner hiddend">
				<input type="checkbox" value="page"
						aria-label="Hidden option, ignore please"
						name="customset[]" checked="checked"/>
			</div>
				</fieldset>
	
		<fieldset>
							<legend>Filter by Categories</legend>
						<div class='categoryfilter asl_sett_scroll'>
									<div class="asl_option" tabindex="0">
						<div class="asl_option_inner">
							<input type="checkbox" value="153"
									aria-label="Hỗ trợ nội thất trường học thông minh"
									name="categoryset[]" checked="checked"/>
							<div class="asl_option_checkbox"></div>
						</div>
						<div class="asl_option_label">
							Hỗ trợ nội thất trường học thông minh						</div>
					</div>
										<div class="asl_option" tabindex="0">
						<div class="asl_option_inner">
							<input type="checkbox" value="185"
									aria-label="Hỗ trợ thiết bị hiển thị, tương tác"
									name="categoryset[]" checked="checked"/>
							<div class="asl_option_checkbox"></div>
						</div>
						<div class="asl_option_label">
							Hỗ trợ thiết bị hiển thị, tương tác						</div>
					</div>
										<div class="asl_option" tabindex="0">
						<div class="asl_option_inner">
							<input type="checkbox" value="112"
									aria-label="Hỗ trợ thiết bị hiển thị, tương tác thông minh"
									name="categoryset[]" checked="checked"/>
							<div class="asl_option_checkbox"></div>
						</div>
						<div class="asl_option_label">
							Hỗ trợ thiết bị hiển thị, tương tác thông minh						</div>
					</div>
										<div class="asl_option" tabindex="0">
						<div class="asl_option_inner">
							<input type="checkbox" value="159"
									aria-label="Hỗ trợ thiết bị thư viện thông minh"
									name="categoryset[]" checked="checked"/>
							<div class="asl_option_checkbox"></div>
						</div>
						<div class="asl_option_label">
							Hỗ trợ thiết bị thư viện thông minh						</div>
					</div>
										<div class="asl_option" tabindex="0">
						<div class="asl_option_inner">
							<input type="checkbox" value="136"
									aria-label="Hỗ trợ thiết bị trường học thông minh"
									name="categoryset[]" checked="checked"/>
							<div class="asl_option_checkbox"></div>
						</div>
						<div class="asl_option_label">
							Hỗ trợ thiết bị trường học thông minh						</div>
					</div>
										<div class="asl_option" tabindex="0">
						<div class="asl_option_inner">
							<input type="checkbox" value="187"
									aria-label="Thiết bị thư viện thông minh"
									name="categoryset[]" checked="checked"/>
							<div class="asl_option_checkbox"></div>
						</div>
						<div class="asl_option_label">
							Thiết bị thư viện thông minh						</div>
					</div>
										<div class="asl_option" tabindex="0">
						<div class="asl_option_inner">
							<input type="checkbox" value="111"
									aria-label="Thông tin hỗ trợ"
									name="categoryset[]" checked="checked"/>
							<div class="asl_option_checkbox"></div>
						</div>
						<div class="asl_option_label">
							Thông tin hỗ trợ						</div>
					</div>
										<div class="asl_option" tabindex="0">
						<div class="asl_option_inner">
							<input type="checkbox" value="66"
									aria-label="Tin tức"
									name="categoryset[]" checked="checked"/>
							<div class="asl_option_checkbox"></div>
						</div>
						<div class="asl_option_label">
							Tin tức						</div>
					</div>
					
			</div>
		</fieldset>
		</form>
	</div>
</div>

		</div>
					</div>

	
</div>
		</div>

		
<style>
#section_1566400771 {
  padding-top: 50px;
  padding-bottom: 50px;
}
#section_1566400771 .section-bg-overlay {
  background-color: rgba(0, 0, 0, 0.674);
}
#section_1566400771 .section-bg.bg-loaded {
  background-image: url(https://inno.com.vn/wp-content/uploads/2022/06/Header-support.jpg);
}
</style>
	</section>
	
	<section class="section" id="section_1275003662">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row"  id="row-1309388080">

	<div id="col-663989842" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			
	<div id="text-3586620278" class="text">
		
<h2>Bạn muốn hỗ trợ sản phẩm nào?</h2>
		
<style>
#text-3586620278 {
  font-size: 1.45rem;
  text-align: center;
}
</style>
	</div>
	
	<div id="gap-147273639" class="gap-element clearfix hide-for-small" style="display:block; height:auto;">
		
<style>
#gap-147273639 {
  padding-top: 30px;
}
</style>
	</div>
	
		</div>
					</div>

	
</div>
<div class="row align-center"  id="row-133819538">

	<div id="col-1226714274" class="col medium-2 small-6 large-2"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(238, 238, 238);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img fetchpriority="high" decoding="async" width="800" height="400" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20800%20400'%3E%3C/svg%3E" class="attachment-medium size-medium" alt="Thiet bi tuong tac icon" title="Hỗ trợ 1" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/03/Thiet-bi-tuong-tac-icon.svg"><noscript><img fetchpriority="high" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/03/Thiet-bi-tuong-tac-icon.svg" class="attachment-medium size-medium" alt="Thiet bi tuong tac icon" title="Hỗ trợ 1"></noscript>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<p><strong>Thiết bị hiển thị tương tác</strong></p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-1226714274 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1096755284" class="col medium-2 small-6 large-2"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(238, 238, 238);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img decoding="async" width="800" height="400" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20800%20400'%3E%3C/svg%3E" class="attachment-medium size-medium" alt="Thiet bi truong hoc thong minh icon" title="Hỗ trợ 2" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/03/Thiet-bi-truong-hoc-thong-minh-icon.svg"><noscript><img decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/03/Thiet-bi-truong-hoc-thong-minh-icon.svg" class="attachment-medium size-medium" alt="Thiet bi truong hoc thong minh icon" title="Hỗ trợ 2"></noscript>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<p><strong>Thiết bị trường học thông minh</strong></p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-1096755284 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-839389223" class="col medium-2 small-6 large-2"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(238, 238, 238);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" style="color:rgb(255, 255, 255);">
						<img decoding="async" width="800" height="400" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20800%20400'%3E%3C/svg%3E" class="attachment-medium size-medium" alt="Thiet bi giang day truc tuyen icon" title="Hỗ trợ 3" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/03/Thiet-bi-giang-day-truc-tuyen-icon.svg"><noscript><img decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/03/Thiet-bi-giang-day-truc-tuyen-icon.svg" class="attachment-medium size-medium" alt="Thiet bi giang day truc tuyen icon" title="Hỗ trợ 3"></noscript>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<p><strong>Thiết bị giảng dạy trực tuyến</strong></p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-839389223 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-514958620" class="col medium-2 small-6 large-2"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(238, 238, 238);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/03/Noi-that-thong-minh-icon.svg" class="attachment-medium size-medium" alt="Noi that thong minh icon" title="Hỗ trợ 4">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<p><strong>Nội thất trường học thông minh</strong></p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-514958620 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	
</div>
<div class="row align-center"  id="row-315673989">

	<div id="col-654456738" class="col medium-2 small-6 large-2"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(238, 238, 238);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" style="color:rgb(255, 255, 255);">
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/03/Phan-mem-INCLASS-icon.svg" class="attachment-medium size-medium" alt="Phan mem INCLASS icon" title="Hỗ trợ 5">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<p><strong>Phần mềm inclass+ cho giáo dục</strong></p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-654456738 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1035633836" class="col medium-2 small-6 large-2"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(238, 238, 238);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/03/Thiet-bi-thu-vien-thong-minh-icon.svg" class="attachment-medium size-medium" alt="Thiet bi thu vien thong minh icon" title="Hỗ trợ 6">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<p><strong>Thiết bị thư viện thông minh</strong></p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-1035633836 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1181501374" class="col medium-2 small-6 large-2"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(238, 238, 238);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/03/Phan-mem-thu-viec-thong-minh-icon.svg" class="attachment-medium size-medium" alt="Phan mem thu viec thong minh icon" title="Hỗ trợ 7">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<p><strong>Phần mềm thư viện thông minh</strong></p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-1181501374 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-565307943" class="col medium-2 small-6 large-2"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(238, 238, 238);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" style="color:rgba(255, 255, 255, 0);">
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/03/Robot-thong-minh-icon.svg" class="attachment-medium size-medium" alt="Robot thong minh icon" title="Hỗ trợ 8">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<p><strong>Robot thông minh cho giáo dục</strong></p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-565307943 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_1275003662 {
  padding-top: 50px;
  padding-bottom: 50px;
}
</style>
	</section>
	
	<section class="section" id="section_2084927279">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row"  id="row-108263601">

	<div id="col-1599194004" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			
	<div id="text-4078068022" class="text">
		
<p><span><i class="fa fa-plus-square" aria-hidden="true"></i> Những câu hỏi thường gặp</span><br />
		
<style>
#text-4078068022 {
  font-size: 1.75rem;
}
</style>
	</div>
	
<div class="accordion">
	<div id="accordion-2541986302" class="accordion-item accor-supp">
		<a id="accordion-2541986302-label" class="accordion-title plain" href="#accordion-item-Ưu_điểm_khi_sử_dụng_nội_thất_thông_minh_chuyên_dụng_cho_phtm_là_gì?" aria-expanded="false" aria-controls="accordion-2541986302-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>Ưu điểm khi sử dụng nội thất thông minh chuyên dụng cho PHTM là gì?</span>
		</a>
		<div id="accordion-2541986302-content" class="accordion-inner" aria-labelledby="accordion-2541986302-label" >
			
<p>Vì đáp ứng đủ các tiêu chuẩn công thái học, bàn ghế có thể điều chỉnh linh hoạt, giúp vừa vặn và phù hợp với cho mọi lứa tuổi học sinh và sinh viên.</p>
		</div>
	</div>
	
	<div id="accordion-2444465028" class="accordion-item accor-supp">
		<a id="accordion-2444465028-label" class="accordion-title plain" href="#accordion-item-máy_thu_vật_thể_có_những_tính_năng_nổi_bật_gì_mà_người_dùng_quan_tâm?" aria-expanded="false" aria-controls="accordion-2444465028-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>Máy thu vật thể có những tính năng nổi bật gì mà người dùng quan tâm?</span>
		</a>
		<div id="accordion-2444465028-content" class="accordion-inner" aria-labelledby="accordion-2444465028-label" >
			
<p>Máy thu vật thể dễ dàng chụp và phóng to tài liệu, camera độ phân giải cao, hỗ trợ quay video và lưu trực tiếp vào USB, thẻ SD hoặc máy tính, tốc độ khung hình lên đến 30fps @@1080p, kết nối HDMI (in, out) và có thể kết hợp với kính hiển vi để hiển thị các vật thể vi mô.</p>
		</div>
	</div>
	
	<div id="accordion-1326209362" class="accordion-item accor-supp">
		<a id="accordion-1326209362-label" class="accordion-title plain" href="#accordion-item-hệ_thống_quản_lý_chìa_khóa_thông_minh_có_thật_sự_cần_thiết?" aria-expanded="false" aria-controls="accordion-1326209362-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>Hệ thống quản lý chìa khóa thông minh có thật sự cần thiết?</span>
		</a>
		<div id="accordion-1326209362-content" class="accordion-inner" aria-labelledby="accordion-1326209362-label" >
			
<p>Nhằm cho mục đích sử dụng tiện lợi nhưng vẫn có thể quản lý được người nhận và trả chìa (vân tay hoặc nhận diện khuôn mặt).</p>
<p>Inno tạo ra giải pháp nhằm giúp các vấn đề trở nên đơn giản và hiệu quả hơn với khả năng có thể lưu trữ đến 200 chìa và đặc biệt gửi lời nhắc qua mail thông báo nhắc nhở người dùng trả và mượn đúng hạn.</p>
		</div>
	</div>
	
	<div id="accordion-1924684618" class="accordion-item accor-supp">
		<a id="accordion-1924684618-label" class="accordion-title plain" href="#accordion-item-cpu_quad-code_là_gì?_có_mạnh_hơn_cpu_thông_thường_không?" aria-expanded="false" aria-controls="accordion-1924684618-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>CPU Quad-code là gì? Có mạnh hơn CPU thông thường không?</span>
		</a>
		<div id="accordion-1924684618-content" class="accordion-inner" aria-labelledby="accordion-1924684618-label" >
			
<p>CPU là viết tắt của Central Processing Unit<em>, </em> Quad-core chỉ về số lượng lõi CPU có được: 4 lõi</p>
<p>Khi CPU có nhiều nhân hơn thì sẽ có nhiều đơn vị để xử nhiều tác vụ cùng một lúc, đồng nghĩa với việc thiết bị của bạn sẽ đạt đa tác vụ nhanh và mượt mà hơn.</p>
		</div>
	</div>
	
	<div id="accordion-3722938543" class="accordion-item accor-supp">
		<a id="accordion-3722938543-label" class="accordion-title plain" href="#accordion-item-cảm_biến_cmos_là_gì_mà_lại_có_trong_thiết_bị_hội_nghị_trực_tuyến_inno?" aria-expanded="false" aria-controls="accordion-3722938543-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>Cảm biến CMOS là gì mà lại có trong thiết bị hội nghị trực tuyến Inno?</span>
		</a>
		<div id="accordion-3722938543-content" class="accordion-inner" aria-labelledby="accordion-3722938543-label" >
			
<p>CMOS (Complementary Metal-Oxide Semiconductor) sử dụng bộ lọc màu RGB sau đó chuyển sang dữ liệu dạng số rồi đưa vào thẻ nhớ để lưu lại.</p>
<p>Độ nhạy sáng (ISO cao), độ phân giải cao, tiêu thụ điện năng ít, điều này làm thời lượng pin sử dụng tăng lên. Tốc độ xử lý hình ảnh nhanh do sử dụng bộ nhớ đệm.</p>
		</div>
	</div>
	
</div>
		</div>
					</div>

	
</div>
		</div>

		
<style>
#section_2084927279 {
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>
	</section>
	
	<section class="section" id="section_76869881">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row"  id="row-623612113">

	<div id="col-1849833827" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			
	<div id="text-2160936855" class="text">
		
<hr>
<p>
		
<style>
#text-2160936855 {
  font-size: 1.75rem;
  text-align: center;
}
</style>
	</div>
	
	<div id="text-2436146953" class="text">
		
<h2>Cần thêm sự giúp đỡ?</h2>
		
<style>
#text-2436146953 {
  font-size: 1.75rem;
  text-align: center;
}
</style>
	</div>
	
		</div>
					</div>

	
</div>
	<div id="gap-1942063436" class="gap-element clearfix" style="display:block; height:auto;">
		
<style>
#gap-1942063436 {
  padding-top: 25px;
}
</style>
	</div>
	
<div class="row row-small align-center"  id="row-1505447936">

	<div id="col-22884728" class="col medium-4 small-12 large-4"  >
				<div class="col-inner"  >
			
	<div class="is-border"
		style="border-color:rgba(0, 0, 0, 0.337);border-width:0px 1px 0px 0;margin:0px -10px 0px 0px;">
	</div>
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" style="color:rgb(255, 255, 255);">
						<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill:none;stroke:#000000;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
<path class="st0" d="M25,27H7c-2.2,0-4-1.8-4-4V9c0-2.2,1.8-4,4-4h18c2.2,0,4,1.8,4,4v14C29,25.2,27.2,27,25,27z"/>
<polyline class="st0" points="3,10 16,18 29,10 "/>
</svg>
					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Email</h3>
<p>Gửi cho chúng tôi email, và chúng tôi sẽ trả lời càng sớm càng tốt.</p>
	<div id="gap-190962307" class="gap-element clearfix" style="display:block; height:auto;">
		
<style>
#gap-190962307 {
  padding-top: 10px;
}
</style>
	</div>
	
<a href="#popup-dk-phanmem" target="_self" class="button primary is-outline is-small lowercase"  style="border-radius:99px;">
    <span>Gửi email cho chúng tôi!</span>
  </a>

		</div>
	</div>
	
	
		</div>
					</div>

	

	<div id="col-904614132" class="col medium-4 small-12 large-4"  >
				<div class="col-inner"  >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><defs><style>.cls-1{fill:#2d3e50;}</style></defs><title>x</title><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source%20Sans%20Pro%7CBarlow%3Aregular%2C700%2Cregular%2C700%7CDancing%20Script%3Aregular%2Cregular%7COpen%20Sans&display=swap" /><path class="cls-1" d="M114.80369,103.81029a10.7983,10.7983,0,0,0-6.08219,1.82719L85.8563,82.65512a28.84085,28.84085,0,0,0,4.63409-7.48468q.31944-.75332.59427-1.52875a28.465,28.465,0,0,0,1.56717-7.364h10.49429a11.11305,11.11305,0,1,0,0-4.55535H92.65183a28.48951,28.48951,0,0,0-1.56633-7.36294q-.27651-.77582-.59511-1.53021a28.83562,28.83562,0,0,0-4.631-7.48208l22.98182-22.86482A11.10744,11.10744,0,0,0,122.78263,5.33709a11.11312,11.11312,0,0,0-18.97238,7.85926,10.79787,10.79787,0,0,0,1.82719,6.08211L82.652,42.1468a28.6716,28.6716,0,0,0-16.37431-6.80326V24.85392a11.11309,11.11309,0,1,0-4.55542,0V35.34408a28.69016,28.69016,0,0,0-16.37064,6.80119L22.48224,19.15886A11.10744,11.10744,0,0,0,5.33705,5.21741a11.11841,11.11841,0,0,0,0,15.71852,11.01619,11.01619,0,0,0,7.85926,3.25386A10.79889,10.79889,0,0,0,19.2785,22.3626l22.865,22.9822a28.82986,28.82986,0,0,0-4.634,7.48438q-.31944.75447-.59427,1.52952a28.4685,28.4685,0,0,0-1.56717,7.36363H24.85389a11.11313,11.11313,0,1,0,0,4.55535H35.3481a28.49228,28.49228,0,0,0,1.56633,7.364c.18434.51729.383,1.02822.59679,1.52875a28.83741,28.83741,0,0,0,4.63019,7.48178L19.15882,105.5178a11.09964,11.09964,0,1,0,5.03093,9.28593,10.7983,10.7983,0,0,0-1.82719-6.08219l22.986-22.8688A28.66573,28.66573,0,0,0,61.72229,92.656v10.49016a11.11309,11.11309,0,1,0,4.55542,0V92.65554a28.68263,28.68263,0,0,0,16.37056-6.80081l22.86949,22.98649a11.09964,11.09964,0,1,0,9.28593-5.03093ZM110.29288,8.54083a6.58654,6.58654,0,0,1,9.311,0,6.617,6.617,0,0,1,0,9.311,6.58387,6.58387,0,0,1-9.311-9.311ZM17.85183,17.70708a6.58664,6.58664,0,1,1,1.9272-4.65544A6.57137,6.57137,0,0,1,17.85183,17.70708Zm-.1447,101.75216a6.58673,6.58673,0,0,1-9.311,0,6.61706,6.61706,0,0,1,0-9.311,6.58389,6.58389,0,1,1,9.311,9.311Zm101.75208.1447a6.61706,6.61706,0,0,1-9.311,0,6.5828,6.5828,0,1,1,9.311,0Z"/></svg>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Truyền thông xã hội</h3>
<p>Liên lạc với chúng tôi trên Facebook và chúng tôi sẽ trả lời câu hỏi.</p>
	<div id="gap-868640856" class="gap-element clearfix" style="display:block; height:auto;">
		
<style>
#gap-868640856 {
  padding-top: 10px;
}
</style>
	</div>
	
<div class="social-icons follow-icons full-width text-center" style="font-size:102%"><a href="#" target="_blank" rel="noopener noreferrer nofollow" data-label="Facebook" class="icon plain facebook tooltip" title="Follow on Facebook" aria-label="Follow on Facebook" ><i class="icon-facebook" ></i></a><a href="#" target="_blank" rel="noopener noreferrer nofollow" data-label="Instagram" class="icon plain instagram tooltip" title="Follow on Instagram" aria-label="Follow on Instagram" ><i class="icon-instagram" ></i></a><a href="#" data-label="YouTube" target="_blank" rel="noopener noreferrer nofollow" class="icon plain youtube tooltip" title="Follow on YouTube" aria-label="Follow on YouTube" ><i class="icon-youtube" ></i></a></div>
		</div>
	</div>
	
	
		</div>
					</div>

	
</div>
	<div id="popup-dk-phanmem"
	     class="lightbox-by-id lightbox-content mfp-hide lightbox-white "
	     style="max-width:400px ;padding:0px">
		
	<section class="section" id="section_639697673">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			


  <div class="banner has-hover" id="banner-1598466180">
          <div class="banner-inner fill">
        <div class="banner-bg fill" >
            <div class="bg fill bg-fill "></div>
                        <div class="overlay"></div>            
                    </div>
		
        <div class="banner-layers container">
            <div class="fill banner-link"></div>            

   <div id="text-box-78251850" class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                                <div class="text-box-content text dark">
              
              <div class="text-inner text-center">
                  

	<div id="text-3372401053" class="text">
		

<h3 class="uppercase"><strong>ĐĂNG KÝ TƯ VẤN</strong></h3>

	</div>
	

              </div>
           </div>
                            
<style>
#text-box-78251850 {
  width: 60%;
}
#text-box-78251850 .text-box-content {
  font-size: 100%;
}
</style>
    </div>
 

        </div>
      </div>

            
<style>
#banner-1598466180 {
  padding-top: 200px;
}
#banner-1598466180 .bg.bg-loaded {
  background-image: url(https://inno.com.vn/wp-content/uploads/2022/06/Bg-dktv.jpg);
}
#banner-1598466180 .overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
</style>
  </div>



		</div>

		
<style>
#section_639697673 {
  padding-top: 0px;
  padding-bottom: 0px;
}
</style>
	</section>
	
	<section class="section" id="section_370547408">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			

<div class="row row-small align-center"  id="row-1623405884">


	<div id="col-328652636" class="col medium-10 small-11 large-10"  >
				<div class="col-inner"  >
			
			

<P>Vui lòng điền thông tin form bên dưới để chúng tôi liên hệ tư vấn cho quý khách!</P>

<div class="wpcf7 no-js" id="wpcf7-f10047-p9898-o1" lang="vi" dir="ltr" data-wpcf7-id="10047">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/ho-tro/#wpcf7-f10047-p9898-o1" method="post" class="wpcf7-form init" aria-label="Form liên hệ" novalidate="novalidate" data-status="init">
<fieldset class="hidden-fields-container"><input type="hidden" name="_wpcf7" value="10047" /><input type="hidden" name="_wpcf7_version" value="6.1.4" /><input type="hidden" name="_wpcf7_locale" value="vi" /><input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f10047-p9898-o1" /><input type="hidden" name="_wpcf7_container_post" value="9898" /><input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</fieldset>
<p><span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Họ và tên (*)" value="" type="text" name="your-name" /></span><br />
<span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email (*)" value="" type="email" name="your-email" /></span><br />
<span class="wpcf7-form-control-wrap" data-name="your-phone"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Số điện thoại (*)" value="" type="text" name="your-phone" /></span><br />
<span class="wpcf7-form-control-wrap" data-name="your-province"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Tỉnh, thành (*)" value="" type="text" name="your-province" /></span><br />
<input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="GỞI YÊU CẦU" />
</p><p style="display: none !important;" class="akismet-fields-container" data-prefix="_wpcf7_ak_"><label>&#916;<textarea name="_wpcf7_ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="_wpcf7_ak_js" value="37"/><script>document.getElementById( "ak_js_1" ).setAttribute( "value", ( new Date() ).getTime() );</script></p><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>



		</div>
					</div>

	

</div>

		</div>

		
<style>
#section_370547408 {
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>
	</section>
	
	</div>
	
	
		</div>

		
<style>
#section_76869881 {
  padding-top: 60px;
  padding-bottom: 60px;
}
</style>
	</section>
	

		
</div>



</main>
