@{
	ViewData["Title"] = "Dịch vụ lắp đặt - bảo trì - sửa chữa";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="">


<div id="content" role="main" class="content-area">

		
				<section class="section" id="section_1153803335">
		<div class="bg section-bg fill bg-fill  " >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row"  id="row-224577723">

	<div id="col-1171238769" class="col small-12 large-12"  >
				<div class="col-inner text-center"  >
			
			
<div class="ux-logo has-hover align-middle ux_logo inline-block" style="max-width: 100%!important; width: 175.3488372093px!important"><div class="ux-logo-link block image-" title="" href="" style="padding: 15px;"><img decoding="async" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 1" alt="Logo inno white" class="ux-logo-image block" style="height:50px;" data-lazy-src="https://inno.com.vn/wp-content/uploads/2022/05/Logo-inno-white.png"><noscript><img decoding="async" src="https://inno.com.vn/wp-content/uploads/2022/05/Logo-inno-white.png" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 1" alt="Logo inno white" class="ux-logo-image block" style="height:50px;"></noscript></div></div>
	<div id="text-1337290119" class="text">
		
<h1>Dịch vụ lắp đặt &#8211; bảo trì &#8211; sửa chữa</h1>
		
<style>
#text-1337290119 {
  font-size: 1.75rem;
  text-align: center;
  color: rgb(255,255,255);
}
#text-1337290119 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
	<div id="text-853785924" class="text hide-for-small">
		
<p>Đơn vị cung cấp dịch vụ lắp đặt &#8211; bảo trì &#8211; sửa chữa thiết bị công nghệ hàng đầu cho trường học</p>
		
<style>
#text-853785924 {
  font-size: 1.55rem;
  text-align: center;
  color: rgb(255,255,255);
}
#text-853785924 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
<a class="button primary"  style="border-radius:99px;">
    <span>Liên hệ tư vấn</span>
  </a>

		</div>
				
<style>
#col-1171238769 > .col-inner {
  margin: -70px 0px 0px 0px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_1153803335 {
  padding-top: 230px;
  padding-bottom: 230px;
}
#section_1153803335 .section-bg.bg-loaded {
  background-image: url(https://inno.com.vn/wp-content/uploads/2024/03/Banner-Dich-vu-lap-dat-bao-tri-1920x768-1.webp);
}
</style>
	</section>
	
	<section class="section" id="section_891996176">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row"  id="row-1128721253">

	<div id="col-953079626" class="col medium-6 small-12 large-6"  >
				<div class="col-inner"  >
			
			
	<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_294908804">
								<div class="img-inner dark" >
			<img fetchpriority="high" decoding="async" width="1020" height="730" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201020%20730'%3E%3C/svg%3E" class="attachment-large size-large" alt="Bao hanh bao tri lap dat inno" data-lazy-srcset="https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-1118x800.webp 1118w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-559x400.webp 559w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-768x550.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-600x429.webp 600w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno.webp 1280w" data-lazy-sizes="(max-width: 1020px) 100vw, 1020px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 2" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-1118x800.webp"><noscript><img fetchpriority="high" decoding="async" width="1020" height="730" src="https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-1118x800.webp" class="attachment-large size-large" alt="Bao hanh bao tri lap dat inno" srcset="https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-1118x800.webp 1118w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-559x400.webp 559w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-768x550.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno-600x429.webp 600w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-bao-tri-lap-dat-inno.webp 1280w" sizes="(max-width: 1020px) 100vw, 1020px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 2"></noscript>						
					</div>
								
<style>
#image_294908804 {
  width: 100%;
}
</style>
	</div>
	
		</div>
					</div>

	

	<div id="col-434983827" class="col medium-6 small-12 large-6"  >
				<div class="col-inner"  >
			
			
	<div id="text-136334962" class="text">
		
<p>Chào mừng đến với</p>
		
<style>
#text-136334962 {
  font-size: 1.25rem;
  line-height: 0.75;
}
</style>
	</div>
	
	<div id="text-785493737" class="text">
		
<h2>Dịch vụ <span style="color: #ed1c24;">Lắp đặt &#8211; <span style="color: #008000;">Bảo trì</span> &#8211; <span style="color: #3366ff;">Sửa chữa</span></span> của chúng tôi</h2>
		
<style>
#text-785493737 {
  font-size: 1.35rem;
}
</style>
	</div>
	
<p data-sourcepos="3:1-3:324"><strong>INNO Việt Nam</strong> tự hào là đơn vị cung cấp dịch vụ lắp đặt &#8211; bảo trì &#8211; sửa chữa thiết bị công nghệ uy tín, chuyên nghiệp cho các trường học trên toàn quốc. Với đội ngũ kỹ thuật viên giàu kinh nghiệm và tận tâm, chúng tôi cam kết mang đến cho quý nhà trường những giải pháp tối ưu nhất cho các nhu cầu về thiết bị công nghệ.</p>
<p>INNO Việt Nam luôn mong muốn được hợp tác và đồng hành cùng các nhà trường trong việc cung cấp các giải pháp công nghệ hiệu quả, góp phần nâng cao chất lượng giáo dục.</p>
		</div>
					</div>

	

<style>
#row-1128721253 > .col > .col-inner {
  padding: 20px 0px 50px 0px;
}
</style>
</div>
		</div>

		
<style>
#section_891996176 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
}
</style>
	</section>
	
	<section class="section" id="section_1733967729">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

			<div class="ux-shape-divider ux-shape-divider--top ux-shape-divider--style-waves-opacity">
		<svg viewBox="0 0 1000 300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path class="ux-shape-fill" d="M0 300L-1 69.71C216 57 299.47 198.86 403 226C506 253 577 196 660 197C740 198 790.09 234.07 874 267C935.23 291 982 282.61 1000 277.61V300H0Z"/>
    <path class="ux-shape-fill" opacity="0.5" d="M1 265.094L0 50.5C217 37.79 300.47 186.36 404 213.5C507 240.5 578 196.5 661 197.5C741 198.5 787.59 239.57 871.5 272.5C932.73 296.5 980.5 284.5 998.5 279.5V298.5L1 265.094Z"/>
    <path class="ux-shape-fill" opacity="0.15" d="M0.999878 244.094L-0.00012207 27C217 14.29 300.47 173.86 404 201C507 228 578 196 661 197C741 198 787.59 243.07 871.5 276C932.73 300 980.5 284.5 998.5 279.5V299L0.999878 244.094Z"/>
</svg>

	</div>

	<div class="ux-shape-divider ux-shape-divider--bottom ux-shape-divider--style-curve-opacity">
		<svg viewBox="0 0 1000 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
		<path class="ux-shape-fill" opacity="0.15" d="M0 14C0 14 88.64 17.48 300 50C560 90 814 77 1003 40L1015 68L1018 104H0V14Z"/>
		<path class="ux-shape-fill" opacity="0.3" d="M0 45C0 45 271 90.13 500 77C657 68 830 30 1015 14V100H0V45Z"/>
		<path class="ux-shape-fill" d="M0 58C0 58 188.29 90 508 90C798 90 1002 55 1002 55V100H0V58Z"/>
</svg>
	</div>

		<div class="section-content relative">
			
<div class="row"  id="row-85512553">

	<div id="col-1135643862" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			
	<div id="text-1571139225" class="text">
		
<p style="text-align: center;">Các dịch vụ của chúng tôi</p>
		
<style>
#text-1571139225 {
  font-size: 1.25rem;
}
</style>
	</div>
	
	<div id="text-4195836293" class="text">
		
<h2>Hãy đưa chúng tôi các thiết bị công nghệ của bạn!</h2>
		
<style>
#text-4195836293 {
  font-size: 1.55rem;
  text-align: center;
  color: #dd3333;
}
#text-4195836293 > * {
  color: #dd3333;
}
</style>
	</div>
	
		</div>
					</div>

	

<style>
#row-85512553 > .col > .col-inner {
  padding: 20px 0px 0px 0px;
}
</style>
</div>
<div class="row row-collapse"  id="row-372441455">

	<div id="col-1933186134" class="col small-12 large-12"  >
				<div class="col-inner text-center"  >
			
			
<div class="slider-wrapper relative" id="slider-1246903859" >
    <div class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal"
        data-flickity-options='{
            "cellAlign": "center",
            "imagesLoaded": true,
            "lazyLoad": 1,
            "freeScroll": false,
            "wrapAround": true,
            "autoPlay": 8000,
            "pauseAutoPlayOnHover" : true,
            "prevNextButtons": true,
            "contain" : true,
            "adaptiveHeight" : true,
            "dragThreshold" : 10,
            "percentPosition": true,
            "pageDots": false,
            "rightToLeft": false,
            "draggable": true,
            "selectedAttraction": 0.1,
            "parallax" : 0,
            "friction": 0.6        }'
        >
        
<div class="row row-small"  id="row-522047055">

	<div id="col-569577185" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img decoding="async" width="1280" height="1280" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201280%201280'%3E%3C/svg%3E" class="attachment- size-" alt="DL P800BYT 01 Lon" data-lazy-srcset="https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon.webp 1280w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-400x400.webp 400w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-800x800.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-280x280.webp 280w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-768x768.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-100x100.webp 100w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-300x300.webp 300w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-600x600.webp 600w" data-lazy-sizes="(max-width: 1280px) 100vw, 1280px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 3" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon.webp"><noscript><img decoding="async" width="1280" height="1280" src="https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon.webp" class="attachment- size-" alt="DL P800BYT 01 Lon" srcset="https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon.webp 1280w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-400x400.webp 400w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-800x800.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-280x280.webp 280w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-768x768.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-100x100.webp 100w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-300x300.webp 300w, https://inno.com.vn/wp-content/uploads/2024/03/DL-P800BYT-01-Lon-600x600.webp 600w" sizes="(max-width: 1280px) 100vw, 1280px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 3"></noscript>											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-3262435024" class="text">
		
<p>Máy chiếu giáo dục</p>
		
<style>
#text-3262435024 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-569577185 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1928125856" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img decoding="async" width="1280" height="1280" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201280%201280'%3E%3C/svg%3E" class="attachment- size-" alt="DC V4X8K YS 01 Lon" data-lazy-srcset="https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon.jpeg 1280w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-400x400.jpeg 400w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-800x800.jpeg 800w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-280x280.jpeg 280w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-768x768.jpeg 768w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-100x100.jpeg 100w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-300x300.jpeg 300w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-600x600.jpeg 600w" data-lazy-sizes="(max-width: 1280px) 100vw, 1280px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 4" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon.jpeg"><noscript><img decoding="async" width="1280" height="1280" src="https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon.jpeg" class="attachment- size-" alt="DC V4X8K YS 01 Lon" srcset="https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon.jpeg 1280w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-400x400.jpeg 400w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-800x800.jpeg 800w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-280x280.jpeg 280w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-768x768.jpeg 768w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-100x100.jpeg 100w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-300x300.jpeg 300w, https://inno.com.vn/wp-content/uploads/2024/03/DC-V4X8K-YS-01-Lon-600x600.jpeg 600w" sizes="(max-width: 1280px) 100vw, 1280px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 4"></noscript>											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-2801219243" class="text">
		
<p>Máy thu vật thể</p>
		
<style>
#text-2801219243 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-1928125856 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1455905620" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="900" height="900" src="https://inno.com.vn/wp-content/uploads/2024/03/ITV-555KA12.jpg" class="attachment- size-" alt="ITV 555KA12" srcset="https://inno.com.vn/wp-content/uploads/2024/03/ITV-555KA12.jpg 900w, https://inno.com.vn/wp-content/uploads/2024/03/ITV-555KA12-400x400.jpg 400w, https://inno.com.vn/wp-content/uploads/2024/03/ITV-555KA12-800x800.jpg 800w, https://inno.com.vn/wp-content/uploads/2024/03/ITV-555KA12-280x280.jpg 280w, https://inno.com.vn/wp-content/uploads/2024/03/ITV-555KA12-768x768.jpg 768w, https://inno.com.vn/wp-content/uploads/2024/03/ITV-555KA12-100x100.jpg 100w, https://inno.com.vn/wp-content/uploads/2024/03/ITV-555KA12-300x300.jpg 300w, https://inno.com.vn/wp-content/uploads/2024/03/ITV-555KA12-600x600.jpg 600w" sizes="auto, (max-width: 900px) 100vw, 900px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 5">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-1041504587" class="text">
		
<p>Màn hình tương tác</p>
		
<style>
#text-1041504587 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-1455905620 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1212061420" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="900" height="900" src="https://inno.com.vn/wp-content/uploads/2022/05/Tivi-man-hinh-led-thong-minh.jpg" class="attachment- size-" alt="Tivi man hinh led thong minh" srcset="https://inno.com.vn/wp-content/uploads/2022/05/Tivi-man-hinh-led-thong-minh.jpg 900w, https://inno.com.vn/wp-content/uploads/2022/05/Tivi-man-hinh-led-thong-minh-400x400.jpg 400w, https://inno.com.vn/wp-content/uploads/2022/05/Tivi-man-hinh-led-thong-minh-800x800.jpg 800w, https://inno.com.vn/wp-content/uploads/2022/05/Tivi-man-hinh-led-thong-minh-280x280.jpg 280w, https://inno.com.vn/wp-content/uploads/2022/05/Tivi-man-hinh-led-thong-minh-768x768.jpg 768w, https://inno.com.vn/wp-content/uploads/2022/05/Tivi-man-hinh-led-thong-minh-100x100.jpg 100w, https://inno.com.vn/wp-content/uploads/2022/05/Tivi-man-hinh-led-thong-minh-300x300.jpg 300w, https://inno.com.vn/wp-content/uploads/2022/05/Tivi-man-hinh-led-thong-minh-600x600.jpg 600w" sizes="auto, (max-width: 900px) 100vw, 900px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 6">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-4293799014" class="text">
		
<p>Tivi giáo dục</p>
		
<style>
#text-4293799014 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-1212061420 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-944893917" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="1280" height="1280" src="https://inno.com.vn/wp-content/uploads/2024/03/Inno-32-inch-AD3202TTKA-03-Lon.webp" class="attachment- size-" alt="Inno 32 inch AD3202TTKA 03 Lon" srcset="https://inno.com.vn/wp-content/uploads/2024/03/Inno-32-inch-AD3202TTKA-03-Lon.webp 1280w, https://inno.com.vn/wp-content/uploads/2024/03/Inno-32-inch-AD3202TTKA-03-Lon-400x400.webp 400w, https://inno.com.vn/wp-content/uploads/2024/03/Inno-32-inch-AD3202TTKA-03-Lon-800x800.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/Inno-32-inch-AD3202TTKA-03-Lon-280x280.webp 280w, https://inno.com.vn/wp-content/uploads/2024/03/Inno-32-inch-AD3202TTKA-03-Lon-768x768.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/Inno-32-inch-AD3202TTKA-03-Lon-100x100.webp 100w, https://inno.com.vn/wp-content/uploads/2024/03/Inno-32-inch-AD3202TTKA-03-Lon-300x300.webp 300w, https://inno.com.vn/wp-content/uploads/2024/03/Inno-32-inch-AD3202TTKA-03-Lon-600x600.webp 600w" sizes="auto, (max-width: 1280px) 100vw, 1280px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 7">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-3578830215" class="text">
		
<p>Kiosk tra cứu</p>
		
<style>
#text-3578830215 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-944893917 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1061521143" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="900" height="900" src="https://inno.com.vn/wp-content/uploads/2024/03/LED-P4.webp" class="attachment- size-" alt="LED P4" srcset="https://inno.com.vn/wp-content/uploads/2024/03/LED-P4.webp 900w, https://inno.com.vn/wp-content/uploads/2024/03/LED-P4-400x400.webp 400w, https://inno.com.vn/wp-content/uploads/2024/03/LED-P4-800x800.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/LED-P4-280x280.webp 280w, https://inno.com.vn/wp-content/uploads/2024/03/LED-P4-768x768.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/LED-P4-100x100.webp 100w, https://inno.com.vn/wp-content/uploads/2024/03/LED-P4-300x300.webp 300w, https://inno.com.vn/wp-content/uploads/2024/03/LED-P4-600x600.webp 600w" sizes="auto, (max-width: 900px) 100vw, 900px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 8">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-3608708061" class="text">
		
<p>Màn hình ghép</p>
		
<style>
#text-3608708061 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-1061521143 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	
</div>
<div class="row row-small"  id="row-1151197990">

	<div id="col-1082356384" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="900" height="900" src="https://inno.com.vn/wp-content/uploads/2024/03/F1071YI-2.jpg" class="attachment- size-" alt="F1071YI 2" srcset="https://inno.com.vn/wp-content/uploads/2024/03/F1071YI-2.jpg 900w, https://inno.com.vn/wp-content/uploads/2024/03/F1071YI-2-400x400.jpg 400w, https://inno.com.vn/wp-content/uploads/2024/03/F1071YI-2-800x800.jpg 800w, https://inno.com.vn/wp-content/uploads/2024/03/F1071YI-2-280x280.jpg 280w, https://inno.com.vn/wp-content/uploads/2024/03/F1071YI-2-768x768.jpg 768w, https://inno.com.vn/wp-content/uploads/2024/03/F1071YI-2-100x100.jpg 100w, https://inno.com.vn/wp-content/uploads/2024/03/F1071YI-2-300x300.jpg 300w, https://inno.com.vn/wp-content/uploads/2024/03/F1071YI-2-600x600.jpg 600w" sizes="auto, (max-width: 900px) 100vw, 900px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 9">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-4197521213" class="text">
		
<p>Tablet giáo dục</p>
		
<style>
#text-4197521213 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-1082356384 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1662094913" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="1280" height="1280" src="https://inno.com.vn/wp-content/uploads/2024/03/INNO-TC-HD200T-12SDI-01-Lon.webp" class="attachment- size-" alt="INNO TC HD200T 12SDI 01 Lon" srcset="https://inno.com.vn/wp-content/uploads/2024/03/INNO-TC-HD200T-12SDI-01-Lon.webp 1280w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-TC-HD200T-12SDI-01-Lon-400x400.webp 400w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-TC-HD200T-12SDI-01-Lon-800x800.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-TC-HD200T-12SDI-01-Lon-280x280.webp 280w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-TC-HD200T-12SDI-01-Lon-768x768.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-TC-HD200T-12SDI-01-Lon-100x100.webp 100w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-TC-HD200T-12SDI-01-Lon-300x300.webp 300w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-TC-HD200T-12SDI-01-Lon-600x600.webp 600w" sizes="auto, (max-width: 1280px) 100vw, 1280px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 10">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-421046309" class="text">
		
<p>Camera giám sát</p>
		
<style>
#text-421046309 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-1662094913 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-955264239" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="1000" height="1000" src="https://inno.com.vn/wp-content/uploads/2024/03/LCS610-1.jpg" class="attachment- size-" alt="LCS610 1" srcset="https://inno.com.vn/wp-content/uploads/2024/03/LCS610-1.jpg 1000w, https://inno.com.vn/wp-content/uploads/2024/03/LCS610-1-400x400.jpg 400w, https://inno.com.vn/wp-content/uploads/2024/03/LCS610-1-800x800.jpg 800w, https://inno.com.vn/wp-content/uploads/2024/03/LCS610-1-280x280.jpg 280w, https://inno.com.vn/wp-content/uploads/2024/03/LCS610-1-768x768.jpg 768w, https://inno.com.vn/wp-content/uploads/2024/03/LCS610-1-100x100.jpg 100w, https://inno.com.vn/wp-content/uploads/2024/03/LCS610-1-300x300.jpg 300w, https://inno.com.vn/wp-content/uploads/2024/03/LCS610-1-600x600.jpg 600w" sizes="auto, (max-width: 1000px) 100vw, 1000px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 11">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-3312700857" class="text">
		
<p>hệ thống ghi/phát</p>
		
<style>
#text-3312700857 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-955264239 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-675259119" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="900" height="900" src="https://inno.com.vn/wp-content/uploads/2024/03/May-quet-sach-chuyen-dung-INNO-BS-V360PRO-YS.webp" class="attachment- size-" alt="May quet sach chuyen dung INNO BS V360PRO YS" srcset="https://inno.com.vn/wp-content/uploads/2024/03/May-quet-sach-chuyen-dung-INNO-BS-V360PRO-YS.webp 900w, https://inno.com.vn/wp-content/uploads/2024/03/May-quet-sach-chuyen-dung-INNO-BS-V360PRO-YS-400x400.webp 400w, https://inno.com.vn/wp-content/uploads/2024/03/May-quet-sach-chuyen-dung-INNO-BS-V360PRO-YS-800x800.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/May-quet-sach-chuyen-dung-INNO-BS-V360PRO-YS-280x280.webp 280w, https://inno.com.vn/wp-content/uploads/2024/03/May-quet-sach-chuyen-dung-INNO-BS-V360PRO-YS-768x768.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/May-quet-sach-chuyen-dung-INNO-BS-V360PRO-YS-100x100.webp 100w, https://inno.com.vn/wp-content/uploads/2024/03/May-quet-sach-chuyen-dung-INNO-BS-V360PRO-YS-300x300.webp 300w, https://inno.com.vn/wp-content/uploads/2024/03/May-quet-sach-chuyen-dung-INNO-BS-V360PRO-YS-600x600.webp 600w" sizes="auto, (max-width: 900px) 100vw, 900px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 12">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-436041024" class="text">
		
<p>Máy scan sách</p>
		
<style>
#text-436041024 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-675259119 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-14272732" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="800" height="800" src="https://inno.com.vn/wp-content/uploads/2024/03/IMG_3574.jpg" class="attachment- size-" alt="IMG 3574" srcset="https://inno.com.vn/wp-content/uploads/2024/03/IMG_3574.jpg 800w, https://inno.com.vn/wp-content/uploads/2024/03/IMG_3574-400x400.jpg 400w, https://inno.com.vn/wp-content/uploads/2024/03/IMG_3574-280x280.jpg 280w, https://inno.com.vn/wp-content/uploads/2024/03/IMG_3574-768x768.jpg 768w, https://inno.com.vn/wp-content/uploads/2024/03/IMG_3574-100x100.jpg 100w, https://inno.com.vn/wp-content/uploads/2024/03/IMG_3574-300x300.jpg 300w, https://inno.com.vn/wp-content/uploads/2024/03/IMG_3574-600x600.jpg 600w" sizes="auto, (max-width: 800px) 100vw, 800px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 13">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-3787775821" class="text">
		
<p>Tủ quản lý chìa khóa</p>
		
<style>
#text-3787775821 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-14272732 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-683367368" class="col medium-2 small-6 large-2 has-hover"  >
				<div class="col-inner box-shadow-1 box-shadow-2-hover" style="background-color:rgb(255,255,255);" >
			
	<div class="is-border hover-fade-in"
		style="border-color:rgba(225, 0, 0, 0.756);border-radius:5px;border-width:0px 0px 3px 0px;">
	</div>
			
	<div class="box has-hover   has-hover box-text-bottom" >

		<div class="box-image" style="border-radius:5%;">
						<div class="" >
				<img loading="lazy" decoding="async" width="1000" height="1000" src="https://inno.com.vn/wp-content/uploads/2024/03/Kiosk-tu-phuc-vu-INNO-2.webp" class="attachment- size-" alt="Kiosk tu phuc vu INNO 2" srcset="https://inno.com.vn/wp-content/uploads/2024/03/Kiosk-tu-phuc-vu-INNO-2.webp 1000w, https://inno.com.vn/wp-content/uploads/2024/03/Kiosk-tu-phuc-vu-INNO-2-400x400.webp 400w, https://inno.com.vn/wp-content/uploads/2024/03/Kiosk-tu-phuc-vu-INNO-2-800x800.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/Kiosk-tu-phuc-vu-INNO-2-280x280.webp 280w, https://inno.com.vn/wp-content/uploads/2024/03/Kiosk-tu-phuc-vu-INNO-2-768x768.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/Kiosk-tu-phuc-vu-INNO-2-100x100.webp 100w, https://inno.com.vn/wp-content/uploads/2024/03/Kiosk-tu-phuc-vu-INNO-2-300x300.webp 300w, https://inno.com.vn/wp-content/uploads/2024/03/Kiosk-tu-phuc-vu-INNO-2-600x600.webp 600w" sizes="auto, (max-width: 1000px) 100vw, 1000px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 14">											</div>
					</div>

		<div class="box-text show-on-hover hover-bounce text-center" >
			<div class="box-text-inner">
				
	<div id="text-3833473466" class="text">
		
<p>Thiết bị thư viện</p>
		
<style>
#text-3833473466 {
  font-size: 1rem;
}
</style>
	</div>
	
			</div>
		</div>
	</div>
	
		</div>
				
<style>
#col-683367368 > .col-inner {
  border-radius: 5px;
}
</style>
	</div>

	
</div>
     </div>

     <div class="loading-spin dark large centered"></div>

	</div>


	<div id="gap-2138136799" class="gap-element clearfix" style="display:block; height:auto;">
		
<style>
#gap-2138136799 {
  padding-top: 50px;
}
</style>
	</div>
	
<a href="#popup-dk-dich-vu" target="_self" class="button primary"  style="border-radius:99px;">
    <span>Đặt lịch ngay hôm nay !</span>
  </a>

	<div id="popup-dk-dich-vu"
	     class="lightbox-by-id lightbox-content mfp-hide lightbox-white "
	     style="max-width:400px ;padding:0px">
		<div class="row row-collapse"  id="row-1090589478">


	<div id="col-1792811830" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			

	<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_647672687">
								<div class="img-inner dark" >
			<img loading="lazy" decoding="async" width="1020" height="408" src="https://inno.com.vn/wp-content/uploads/2024/03/Banner-Dich-vu-lap-dat-bao-tri-1920x768-1-1400x560.webp" class="attachment-large size-large" alt="Banner Dich vu lap dat bao tri 1920x768 1" srcset="https://inno.com.vn/wp-content/uploads/2024/03/Banner-Dich-vu-lap-dat-bao-tri-1920x768-1-1400x560.webp 1400w, https://inno.com.vn/wp-content/uploads/2024/03/Banner-Dich-vu-lap-dat-bao-tri-1920x768-1-800x320.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/Banner-Dich-vu-lap-dat-bao-tri-1920x768-1-768x307.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/Banner-Dich-vu-lap-dat-bao-tri-1920x768-1-1536x614.webp 1536w, https://inno.com.vn/wp-content/uploads/2024/03/Banner-Dich-vu-lap-dat-bao-tri-1920x768-1-600x240.webp 600w, https://inno.com.vn/wp-content/uploads/2024/03/Banner-Dich-vu-lap-dat-bao-tri-1920x768-1.webp 1920w" sizes="auto, (max-width: 1020px) 100vw, 1020px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 15">						
					</div>
								
<style>
#image_647672687 {
  width: 100%;
}
</style>
	</div>
	


		</div>
					</div>

	

</div>
<div class="row"  id="row-1283713601">


	<div id="col-639178507" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			


<div class="wpcf7 no-js" id="wpcf7-f15566-p15528-o1" lang="vi" dir="ltr" data-wpcf7-id="15566">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/dich-vu-lap-dat-bao-tri-sua-chua/#wpcf7-f15566-p15528-o1" method="post" class="wpcf7-form init" aria-label="Form liên hệ" novalidate="novalidate" data-status="init">
<fieldset class="hidden-fields-container"><input type="hidden" name="_wpcf7" value="15566" /><input type="hidden" name="_wpcf7_version" value="6.1.4" /><input type="hidden" name="_wpcf7_locale" value="vi" /><input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f15566-p15528-o1" /><input type="hidden" name="_wpcf7_container_post" value="15528" /><input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</fieldset>
<div >
	<p><span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Họ và tên (Bắt buộc)" value="" type="text" name="your-name" /></span><br />
<span class="wpcf7-form-control-wrap" data-name="tel-843"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Số điện thoại (Bắt buộc)" value="" type="tel" name="tel-843" /></span>
	</p>
	<p><label> Khu vực tỉnh/thành (bắt buộc)<br />
<span class="wpcf7-form-control-wrap" data-name="menu-tinhthanh"><select class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false" name="menu-tinhthanh"><option value="Thành phố Hà Nội">Thành phố Hà Nội</option><option value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option><option value="An Giang">An Giang</option><option value="Bà Rịa – Vũng Tàu">Bà Rịa – Vũng Tàu</option><option value="Bạc Liêu">Bạc Liêu</option><option value="Bắc Giang">Bắc Giang</option><option value="Bắc Kạn">Bắc Kạn</option><option value="Bắc Ninh">Bắc Ninh</option><option value="Bến Tre">Bến Tre</option><option value="Bình Dương">Bình Dương</option><option value="Bình Định">Bình Định</option><option value="Bình Phước">Bình Phước</option><option value="Bình Thuận">Bình Thuận</option><option value="Cao Bằng">Cao Bằng</option><option value="Cà Mau">Cà Mau</option><option value="Cần Thơ">Cần Thơ</option><option value="Hải Phòng">Hải Phòng</option><option value="Đà Nẵng">Đà Nẵng</option><option value="Gia Lai">Gia Lai</option><option value="Hòa Bình">Hòa Bình</option><option value="Hà Giang">Hà Giang</option><option value="Hà Nam">Hà Nam</option><option value="Hà Tĩnh">Hà Tĩnh</option><option value="Hưng Yên">Hưng Yên</option><option value="Hải Dương">Hải Dương</option><option value="Hậu Giang">Hậu Giang</option><option value="Điện Biên">Điện Biên</option><option value="Đắk Lắk">Đắk Lắk</option><option value="Đắk Nông">Đắk Nông</option><option value="Đồng Nai">Đồng Nai</option><option value="Đồng Tháp">Đồng Tháp</option><option value="Khánh Hòa">Khánh Hòa</option><option value="Kiên Giang">Kiên Giang</option><option value="Kon Tum">Kon Tum</option><option value="Lai Châu">Lai Châu</option><option value="Long An">Long An</option><option value="Lào Cai">Lào Cai</option><option value="Lâm Đồng">Lâm Đồng</option><option value="Lạng Sơn">Lạng Sơn</option><option value="Nam Định">Nam Định</option><option value="Nghệ An">Nghệ An</option><option value="Ninh Bình">Ninh Bình</option><option value="Ninh Thuận">Ninh Thuận</option><option value="Phú Thọ">Phú Thọ</option><option value="Phú Yên">Phú Yên</option><option value="Quảng Bình">Quảng Bình</option><option value="Quảng Nam">Quảng Nam</option><option value="Quảng Ngãi">Quảng Ngãi</option><option value="Quảng Ninh">Quảng Ninh</option><option value="Quảng Trị">Quảng Trị</option><option value="Sóc Trăng">Sóc Trăng</option><option value="Sơn La">Sơn La</option><option value="Thanh Hóa">Thanh Hóa</option><option value="Thái Bình">Thái Bình</option><option value="Thái Nguyên">Thái Nguyên</option><option value="Thừa Thiên – Huế">Thừa Thiên – Huế</option><option value="Tiền Giang">Tiền Giang</option><option value="Trà Vinh">Trà Vinh</option><option value="Tuyên Quang">Tuyên Quang</option><option value="Tây Ninh">Tây Ninh</option><option value="Vĩnh Long">Vĩnh Long</option><option value="Vĩnh Phúc">Vĩnh Phúc</option><option value="Yên Bái">Yên Bái</option></select></span> </label>
	</p>
	<p><label> Chọn dịch vụ muốn đăng ký (bắt buộc)<br />
<span class="wpcf7-form-control-wrap" data-name="menu-dichvu"><select class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false" name="menu-dichvu"><option value="Dịch vụ bảo trì">Dịch vụ bảo trì</option><option value="Dịch vụ sửa chữa">Dịch vụ sửa chữa</option></select></span> </label><br />
<label> Chọn sản phẩm muốn đăng ký (bắt buộc)<br />
<span class="wpcf7-form-control-wrap" data-name="menu-sanpham"><select class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false" name="menu-sanpham"><option value="Màn hình tương tác">Màn hình tương tác</option><option value="Tivi giáo dục">Tivi giáo dục</option><option value="Máy chiếu, máy thu vật thể">Máy chiếu, máy thu vật thể</option><option value="Màn hình tra cứu">Màn hình tra cứu</option><option value="Tablet">Tablet</option><option value="Camera giám sát">Camera giám sát</option><option value="Hệ thống ghi phát trực tuyến">Hệ thống ghi phát trực tuyến</option><option value="Tủ quản lý chìa khóa">Tủ quản lý chìa khóa</option><option value="Thiết bị thư viện">Thiết bị thư viện</option></select></span> </label><br />
<input class="wpcf7-form-control wpcf7-submit has-spinner button" type="submit" value="Gửi" />
	</p>
</div><p style="display: none !important;" class="akismet-fields-container" data-prefix="_wpcf7_ak_"><label>&#916;<textarea name="_wpcf7_ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="_wpcf7_ak_js" value="198"/><script>document.getElementById( "ak_js_1" ).setAttribute( "value", ( new Date() ).getTime() );</script></p><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>



		</div>
				
<style>
#col-639178507 > .col-inner {
  padding: 30px 30px 0px 30px;
}
</style>
	</div>

	

</div>	</div>
	
	
		</div>
					</div>

	

<style>
#row-372441455 > .col > .col-inner {
  padding: 0px 0px 30px 0px;
}
</style>
</div>
		</div>

		
<style>
#section_1733967729 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgb(211, 211, 211);
}
#section_1733967729 .ux-shape-divider--top svg {
  height: 100px;
  --divider-top-width: 100%;
}
#section_1733967729 .ux-shape-divider--bottom svg {
  height: 50px;
  --divider-width: 100%;
}
</style>
	</section>
	
	<section class="section" id="section_922269731">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row"  id="row-1635353560">

	<div id="col-1209277735" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			
	<div id="text-1853516433" class="text">
		
<h2>Cam kết của chúng tôi</h2>
		
<style>
#text-1853516433 {
  font-size: 1.55rem;
  text-align: center;
}
</style>
	</div>
	
		</div>
				
<style>
#col-1209277735 > .col-inner {
  margin: 0px 0px 30px 0px;
}
</style>
	</div>

	
</div>
<div class="row align-middle"  id="row-1231722643">

	<div id="col-1240974179" class="col medium-6 small-12 large-6"  >
				<div class="col-inner"  >
			
			
	<div id="stack-3841929633" class="stack stack-col justify-start items-stretch">
		

		<div class="icon-box featured-box iconbox-vertical icon-box-left text-left"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 200 200">
  <defs>
    <style>
      .cls-1 {
        fill: #000;
        stroke-width: 0px;
      }
    </style>
  </defs>
  <path class="cls-1" d="M145.23,135.22l-12.94,1.99c-2.28-15.37-14.17-27.53-29.48-30.16l-3.22-5c-.72-1.14-1.1-2.45-1.1-3.8v-2.02c.06-6.46-4.89-11.87-11.33-12.39-3.57-.23-7.07,1.12-9.55,3.7-1.34,1.33-1.35,3.5-.02,4.84,0,0,.01.01.02.02,1.34,1.33,3.49,1.33,4.83,0,1.08-1.14,2.61-1.73,4.18-1.61,2.83.3,4.96,2.7,4.93,5.55v2.02c-.01,2.66.75,5.26,2.19,7.5l4.07,6.33c.55.85,1.46,1.42,2.47,1.54,14.11,1.73,24.87,13.46,25.37,27.66.05.98.51,1.89,1.27,2.5.74.65,1.74.93,2.7.75l16.57-2.57c.73-.1,1.46.11,2.02.58.57.47.9,1.18.89,1.92v34.65c0,1.4-1.13,2.53-2.53,2.53h-42.15c-1.89,0-3.42,1.53-3.42,3.42s1.53,3.42,3.42,3.42h42.25c5.18,0,9.38-4.2,9.38-9.38h0v-34.72c0-5.16-4.17-9.35-9.33-9.36-.5,0-.99.04-1.49.12v-.03Z"></path>
  <path class="cls-1" d="M93.16,115.3h-5.82l-2.53-3.94c-1.8-2.91-2.96-6.16-3.42-9.55-.28-1.86-2.01-3.14-3.87-2.88-1.87.26-3.17,2-2.91,3.87.62,4.36,2.16,8.54,4.52,12.26v.21h-13.35c-6.45.03-11.65,5.28-11.62,11.73,0,.44.03.88.08,1.31l5.51,46.15c.24,1.47.65,2.91,1.23,4.28,2.51,5.95,8.33,9.82,14.79,9.83h11.54c1.89,0,3.42-1.53,3.42-3.42s-1.53-3.42-3.42-3.42h-11.54c-3.7,0-7.04-2.21-8.49-5.61-.33-.8-.55-1.64-.65-2.5l-.17-1.3h2.74c1.89,0,3.42-1.53,3.42-3.42s-1.53-3.42-3.42-3.42h-3.42l-1.2-10.27h2.88c1.89,0,3.42-1.53,3.42-3.42s-1.53-3.42-3.42-3.42h-3.83l-1.23-10.27h3.39c1.89,0,3.42-1.53,3.42-3.42s-1.53-3.42-3.42-3.42h-4.21l-.48-3.83c-.27-2.63,1.66-4.98,4.29-5.25.13-.01.27-.02.4-.02h27.39c1.89,0,3.42-1.53,3.42-3.42s-1.53-3.42-3.42-3.42v.03Z"></path>
  <path class="cls-1" d="M70.66,77.67c1.2-.41,2.06-1.45,2.26-2.7.26-1.3-.24-2.63-1.3-3.42l-13.04-9.76-.34-16.37c-.03-1.26-.75-2.41-1.88-2.98-1.1-.54-2.41-.45-3.42.24l-13.52,9.38-15.68-4.76c-1.82-.53-3.72.51-4.25,2.33-.18.63-.18,1.29,0,1.92l4.72,15.68-9.35,13.46c-.69,1.02-.78,2.32-.24,3.42.57,1.13,1.71,1.85,2.98,1.88l16.37.34,9.89,13.04c.65.85,1.67,1.34,2.74,1.34h.51c1.25-.2,2.29-1.06,2.7-2.26l5.41-15.44,15.44-5.34ZM49.3,79.21l-3.83,11.02-7.09-9.28c-.62-.83-1.59-1.34-2.64-1.37l-11.61-.14,6.64-9.55c.59-.86.75-1.95.45-2.94l-3.42-11.16,11.16,3.42c1,.31,2.08.14,2.94-.45l9.62-6.71.24,11.64c.03,1.04.54,2.01,1.37,2.64l9.21,6.95-10.96,3.83c-.98.34-1.74,1.11-2.09,2.09Z"></path>
  <path class="cls-1" d="M185.15,80.68l-9.35-13.46,4.72-15.68c.53-1.82-.51-3.72-2.33-4.25-.63-.18-1.29-.18-1.92,0l-15.68,4.76-13.46-9.35c-1.02-.69-2.32-.78-3.42-.24-1.13.57-1.85,1.71-1.88,2.98l-.34,16.37-13.04,9.89c-1.06.79-1.57,2.13-1.3,3.42.2,1.25,1.06,2.29,2.26,2.7l15.44,5.38,5.41,15.44c.41,1.2,1.45,2.06,2.7,2.26h.51c1.07,0,2.09-.49,2.74-1.34l9.83-13.28,16.37-.34c1.26-.03,2.41-.75,2.98-1.88.53-1.09.43-2.38-.24-3.39ZM164.23,79.45c-1.04.03-2.01.54-2.64,1.37l-7.05,9.28-3.83-11.02c-.34-.98-1.11-1.74-2.09-2.09l-10.96-3.7,9.24-7.05c.83-.62,1.34-1.59,1.37-2.64l.24-11.64,9.69,6.64c.86.59,1.95.75,2.94.45l11.16-3.42-3.42,11.16c-.31,1-.14,2.08.45,2.94l6.54,9.72h-11.64Z"></path>
  <path class="cls-1" d="M119.99,58.51l-2.1-16.25,11.41-11.75c1.31-1.37,1.26-3.54-.11-4.84-.47-.45-1.06-.76-1.7-.88l-16.11-2.99-7.64-14.49c-.59-1.08-1.7-1.76-2.93-1.79-1.26-.01-2.43.67-3.04,1.78l-7.84,14.37-16.13,2.78c-1.31.22-2.37,1.17-2.73,2.44-.4,1.2-.11,2.52.76,3.44l11.23,11.88-2.3,16.2c-.18,1.25.34,2.5,1.36,3.25l.46.24c.95.5,2.07.53,3.05.08l14.84-7.27,14.69,7.23c1.14.56,2.49.44,3.51-.3.97-.73,1.48-1.91,1.35-3.12ZM101.98,47.78c-.94-.45-2.03-.45-2.97,0l-10.53,4.99,1.67-11.55c.14-1.03-.18-2.06-.89-2.82l-8.02-8.33,11.45-2.01c1.03-.17,1.92-.8,2.43-1.71l5.57-10.22,5.54,10.36c.49.92,1.38,1.56,2.41,1.75l11.48,2.1-8.18,8.33c-.73.74-1.09,1.78-.96,2.82l1.33,11.64-10.33-5.36Z"></path>
</svg>
					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3><strong>Chất lượng dịch vụ</strong></h3>
<p>Cung cấp dịch vụ lắp đặt &#8211; bảo trì &#8211; sửa chữa thiết bị công nghệ với chất lượng tốt nhất. <span style="color: #333333; font-size: 14.4px;">Sử dụng linh kiện, thiết bị chính hãng, có nguồn gốc rõ ràng.</span></p>
		</div>
	</div>
	
	

		<div class="icon-box featured-box iconbox-vertical icon-box-left text-left"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 200 200">
  <defs>
    <style>
      .cls-1 {
        fill: #000;
        stroke: #000;
        stroke-miterlimit: 10;
      }
    </style>
  </defs>
  <path class="cls-1" d="M111.62,98.97c-2.86-1.01-6.02-2.23-7.82-3.65-.69-.54-.98-1.67-.75-2.89.23-1.19,1.04-2.64,2.63-3.12,3.53-1.06,5.88.77,6.14.99,1.14.95,2.83.79,3.78-.35.95-1.14.79-2.83-.35-3.78-.49-.41-2.35-1.81-5.16-2.35v-1.62c0-1.48-1.2-2.68-2.68-2.68s-2.68,1.2-2.68,2.68v1.81c-.19.05-.39.1-.59.16-3.26.98-5.7,3.77-6.36,7.27-.6,3.21.44,6.31,2.71,8.1,1.94,1.52,4.65,2.82,9.34,4.48,3.47,1.23,3.39,4.05,3.2,5.2-.39,2.3-2.32,4.78-5.65,4.8-3.08.02-4.12-.15-6.52-1.72-1.24-.81-2.9-.46-3.71.78-.81,1.24-.46,2.9.78,3.71,2.65,1.74,4.52,2.33,6.79,2.52v1.82c0,1.48,1.2,2.68,2.68,2.68s2.68-1.2,2.68-2.68v-2.07c4.62-1.14,7.59-5.07,8.24-8.95.85-5.04-1.78-9.41-6.7-11.15h0Z"></path>
  <path class="cls-1" d="M171.97,146.98l-16.8-14.62V53.28h1.59c3.92,0,7.34-2.37,8.71-6.04,1.37-3.67.35-7.7-2.6-10.28l-30.15-26.23c-3.48-3.03-8.73-3.03-12.21,0l-30.15,26.24c-2.96,2.57-3.98,6.6-2.61,10.27,1.37,3.67,4.79,6.04,8.71,6.04h1.59v10.89c-6.49,1.65-12.34,4.95-17.06,9.42l-10.61-9.23c-3.48-3.03-8.73-3.03-12.21,0l-12.78,11.12c-1.12.97-1.23,2.67-.26,3.78.53.61,1.28.92,2.02.92.62,0,1.25-.22,1.76-.66l12.77-11.12c1.48-1.28,3.7-1.28,5.17,0l10.5,9.13c-5.3,6.62-8.47,15.01-8.47,24.13,0,13.98,7.45,26.25,18.59,33.05v41.02c0,5.76-4.69,10.44-10.45,10.44h-25.5c-5.76,0-10.44-4.68-10.44-10.44v-71.51c0-1.48-1.2-2.68-2.68-2.68h-4.27c-2.54,0-3.47-1.96-3.69-2.56-.22-.6-.81-2.69,1.11-4.35l9.28-8.08c1.12-.97,1.23-2.67.26-3.78-.97-1.12-2.67-1.23-3.78-.26l-9.28,8.08c-2.96,2.57-3.98,6.6-2.61,10.27,1.37,3.67,4.79,6.05,8.71,6.05h1.59v68.83c0,8.71,7.09,15.8,15.8,15.8h25.5c8.72,0,15.81-7.09,15.81-15.8v-38.3c4.39,1.82,9.19,2.85,14.22,2.92l-7.6,6.61c-2.96,2.57-3.98,6.61-2.61,10.28,1.37,3.67,4.79,6.04,8.71,6.04h1.59v12.45c0,8.72,7.09,15.81,15.81,15.81h25.5c6.28,0,11.97-3.72,14.49-9.48.59-1.36-.03-2.94-1.38-3.53-1.36-.59-2.94.03-3.53,1.38-1.66,3.8-5.42,6.26-9.57,6.26h-25.5c-5.76,0-10.44-4.68-10.44-10.44v-15.13c0-1.48-1.2-2.68-2.68-2.68h-4.27c-2.53,0-3.46-1.96-3.69-2.56-.22-.6-.81-2.69,1.1-4.35l30.14-26.24c1.48-1.28,3.7-1.28,5.17,0l30.15,26.24c1.91,1.66,1.33,3.75,1.1,4.35-.22.6-1.15,2.56-3.69,2.56h-4.27c-1.48,0-2.68,1.2-2.68,2.68v9.76c0,1.48,1.2,2.68,2.68,2.68s2.68-1.2,2.68-2.68v-7.08h1.59c3.92,0,7.34-2.37,8.71-6.04,1.37-3.67.35-7.7-2.6-10.28h0ZM129.61,120.74l-15.7,13.66c-2.06.4-4.19.6-6.32.6-18.38,0-33.33-14.95-33.33-33.33s14.95-33.33,33.33-33.33,33.34,14.95,33.34,33.33c0,5.96-1.58,11.74-4.56,16.83-2.39-.16-4.84.58-6.76,2.24h0ZM141.44,120.44c3.18-5.72,4.85-12.15,4.85-18.77,0-21.34-17.36-38.7-38.7-38.7-1.41,0-2.8.08-4.18.23v-12.6c0-1.48-1.2-2.68-2.68-2.68h-4.27c-2.53,0-3.46-1.96-3.69-2.56-.22-.6-.81-2.68,1.1-4.35l30.15-26.24c1.47-1.28,3.69-1.28,5.17,0l30.15,26.24c1.91,1.66,1.33,3.75,1.1,4.35-.22.6-1.15,2.56-3.69,2.56h-4.27c-1.48,0-2.68,1.2-2.68,2.68v77.09l-7.98-6.95c-.12-.11-.26-.2-.38-.3h0Z"></path>
</svg>
					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Giá cả cạnh tranh</h3>
<p>Cung cấp dịch vụ với giá cả hợp lý, cạnh tranh nhất trên thị trường, c<span style="color: #333333; font-size: 14.4px;">ó nhiều chương trình ưu đãi dành cho các trường học.</span></p>
		</div>
	</div>
	
	

		<div class="icon-box featured-box iconbox-vertical icon-box-left text-left"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 200 200">
  <defs>
    <style>
      .cls-1 {
        stroke: #000;
        stroke-miterlimit: 10;
      }

      .cls-1, .cls-2 {
        fill: #000;
      }

      .cls-2 {
        stroke-width: 0px;
      }
    </style>
  </defs>
  <path class="cls-1" d="M166.09,41.01c-.9-1.03-2.47-1.13-3.5-.23-1.03.9-1.13,2.47-.23,3.5,11.79,13.44,17.97,30.72,17.42,48.65-.56,18.01-7.88,34.95-20.63,47.69-5.77,5.77-12.38,10.44-19.68,13.89-.59-.76-1.28-1.45-2.07-2.03l-3.15-2.37c7.68-3.22,14.58-7.86,20.55-13.83,25.11-25.11,25.11-65.96,0-91.07-24.18-24.18-63.04-25.26-88.48-2.45-1.02.92-1.11,2.49-.19,3.51.92,1.02,2.49,1.11,3.51.19,23.47-21.04,59.34-20.05,81.65,2.27,23.17,23.17,23.17,60.87,0,84.05-6.21,6.21-13.52,10.87-21.7,13.84l-10.92-8.22c-3-2.25-7.22-1.92-9.83.77l-8.83,9.13c-.27.28-.7.33-1.03.13-19.11-11.88-35.49-28.26-47.37-47.37-.2-.33-.15-.76.13-1.03l9.13-8.84c2.7-2.61,3.03-6.84.77-9.83l-8.22-10.92c2.15-5.92,5.21-11.43,9.11-16.38.85-1.08.66-2.64-.41-3.49s-2.64-.66-3.49.42c-3.57,4.54-6.49,9.5-8.72,14.79l-2.36-3.14c-.59-.79-1.28-1.49-2.04-2.08,3.45-7.29,8.12-13.91,13.89-19.68,12.59-12.59,29.32-19.91,47.1-20.61,17.68-.7,34.83,5.19,48.28,16.57,1.05.89,2.61.75,3.5-.29.89-1.05.76-2.61-.29-3.5-14.41-12.19-32.76-18.49-51.69-17.75-19.03.75-36.94,8.58-50.42,22.06-6.19,6.19-11.2,13.3-14.9,21.14-.42-.08-.85-.14-1.29-.17-3.12-.23-6.18.91-8.39,3.12l-12.48,12.48c-1.95,1.95-3.16,4.49-3.42,7.14-.77,8.14,1.12,17.41,5.63,27.55.56,1.25,2.02,1.82,3.28,1.26s1.82-2.02,1.26-3.28c-4.15-9.34-5.91-17.78-5.22-25.06.14-1.51.85-2.96,1.98-4.1l12.48-12.48c1.19-1.19,2.84-1.8,4.52-1.68,1.68.12,3.22.97,4.24,2.33l14.09,18.74c.75,1,.64,2.41-.26,3.28l-9.13,8.84c-1.95,1.88-2.32,4.92-.89,7.23,12.28,19.75,29.22,36.68,48.96,48.96,2.3,1.43,5.34,1.06,7.23-.89l8.83-9.13c.87-.9,2.28-1.01,3.28-.26l18.75,14.1c1.35,1.01,2.2,2.55,2.32,4.23s-.49,3.33-1.68,4.52l-12.48,12.48c-1.15,1.15-2.68,1.86-4.31,2-28.56,2.52-64.35-32.89-64.71-33.24-.13-.13-13.2-13.28-22.92-29.98-.69-1.19-2.21-1.59-3.4-.9-1.19.69-1.59,2.21-.9,3.4,10.04,17.25,23.14,30.44,23.7,30.99.38.38,9.47,9.42,22.42,18.27,16.1,11,30.48,16.56,42.8,16.56,1.16,0,2.31-.05,3.44-.15,2.79-.25,5.41-1.47,7.38-3.44l12.48-12.48c2.21-2.21,3.35-5.27,3.12-8.39-.03-.43-.09-.86-.17-1.28,7.84-3.7,14.95-8.71,21.14-14.9,13.64-13.64,21.49-31.77,22.08-51.05.59-19.19-6.03-37.68-18.65-52.08Z"></path>
  <path class="cls-2" d="M122.24,103.27c-1.04,1.04-1.04,2.74,0,3.78,1.04,1.04,2.74,1.04,3.78,0l21.94-21.94c1.56-1.56,2.43-3.64,2.43-5.86s-.86-4.29-2.43-5.86l-6.89-6.9c-3.23-3.23-8.48-3.23-11.71,0l-27.18,27.18-9.51-9.51c-1.56-1.56-3.64-2.43-5.86-2.43s-4.29.86-5.86,2.43l-7.44,7.44c-1.56,1.56-2.43,3.64-2.43,5.86s.86,4.29,2.43,5.86l19.07,19.07c2.49,2.49,5.77,3.74,9.05,3.74s6.55-1.25,9.05-3.74l6.57-6.57c1.04-1.04,1.04-2.74,0-3.78-1.04-1.04-2.74-1.04-3.78,0l-6.57,6.57c-2.9,2.9-7.63,2.9-10.53,0l-19.07-19.07c-.55-.55-.86-1.29-.86-2.08s.31-1.52.86-2.08l7.44-7.44c.55-.55,1.29-.86,2.08-.86s1.52.31,2.08.86l11.4,11.4c1.04,1.04,2.74,1.04,3.78,0l29.07-29.07c1.14-1.14,3.01-1.14,4.15,0l6.89,6.9c.55.55.86,1.29.86,2.08s-.31,1.52-.86,2.08l-21.94,21.94Z"></path>
</svg>
					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3><strong>Hỗ trợ khách hàng</strong></h3>
<p>Tư vấn miễn phí 24/7 về các vấn đề liên quan đến thiết bị công nghệ, hỗ trợ kỹ thuật nhanh chóng, kịp thời trong vòng 24h kể từ khi nhận được yêu cầu.</p>
		</div>
	</div>
	
	
		
<style>
#stack-3841929633 > * {
  --stack-gap: 1rem;
}
</style>
	</div>
	
		</div>
					</div>

	

	<div id="col-1909019171" class="col medium-6 small-12 large-6"  >
				<div class="col-inner"  >
			
			
	<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1086679313">
								<div class="img-inner dark" >
			<img loading="lazy" decoding="async" width="800" height="800" src="https://inno.com.vn/wp-content/uploads/2024/03/INNO-800x800.webp" class="attachment-large size-large" alt="INNO" srcset="https://inno.com.vn/wp-content/uploads/2024/03/INNO-800x800.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-400x400.webp 400w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-280x280.webp 280w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-768x768.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-100x100.webp 100w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-300x300.webp 300w, https://inno.com.vn/wp-content/uploads/2024/03/INNO-600x600.webp 600w, https://inno.com.vn/wp-content/uploads/2024/03/INNO.webp 1000w" sizes="auto, (max-width: 800px) 100vw, 800px" title="Dịch vụ lắp đặt - bảo trì - sửa chữa 16">						
					</div>
								
<style>
#image_1086679313 {
  width: 100%;
}
</style>
	</div>
	
		</div>
				
<style>
#col-1909019171 > .col-inner {
  margin: 0px 0px 50px 0px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_922269731 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
}
</style>
	</section>
	

		
</div>



</main>
