@{
	ViewData["Title"] = "Dịch vụ cho thuê";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="">


<div id="content" role="main" class="content-area">

		
				<section class="section" id="section_2032428089">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		
	<div class="ux-shape-divider ux-shape-divider--bottom ux-shape-divider--style-waves-opacity-3">
		<svg viewBox="0 0 1000 300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
	<path class="ux-shape-fill" opacity="0.05" d="M1014 264V386H206L34 300C34 300 344.42 277.16 436 221C542 156 590 160 704 209C811 255 899.11 214.94 979 346L1014 264Z"/>
	<path class="ux-shape-fill" opacity="0.1" d="M-302 55C-302 55 -66.73 263.25 50 214C178 160 283 116 353 141C445.68 174.1 534.28 256.19 588 249C692.9 235 764.52 75.94 855 131C940.61 183.09 1000 254 1000 254V328L-306 338L-302 55Z"/>
	<path class="ux-shape-fill" opacity="0.15" d="M-286 255C-286 255 -72 152 52 126C176 100 255 155 436 227C581.57 284.91 614.7 277.79 708 227C787 184 1009 3.0001 1093 164C1146 265.63 1031 293 1031 293L924 377L-288 389L-286 255Z"/>
	<path class="ux-shape-fill" opacity="0.3" d="M-24 69C-24 69 275.68 370.66 389 314C397 310 622 316 673 356C690.47 369.7 845 224 890 182C944.8 130.85 1018 92 1078 143C1154.12 207.7 1196 242 1196 242L1184 374L-28 386L-24 69Z"/>
	<path class="ux-shape-fill" d="M-12 201C-12 201 58 284 182 258C306 232 342.29 221.23 456 264C565 305 640.82 288.36 721 249C776 222 837.5 191.31 935 253C984 284 1030 279 1030 279L1024 430L-12 440V201Z"/>
</svg>
	</div>

		<div class="section-content relative">
			
	<div id="text-3033167835" class="text">
		
<h1><strong>DỊCH VỤ CHO THUÊ THIẾT BỊ</strong></h1>
		
<style>
#text-3033167835 {
  font-size: 1.75rem;
  text-align: center;
  color: rgb(255,255,255);
}
#text-3033167835 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
	<div id="text-990108536" class="text">
		
<p>Dịch vụ cho thuê thiết bị trường học uy tín, chuyên nghiệp!<br />
		
<style>
#text-990108536 {
  font-size: 1.55rem;
  text-align: center;
  color: rgb(255,255,255);
}
#text-990108536 > * {
  color: rgb(255,255,255);
}
</style>
	</div>
	
		</div>

		
<style>
#section_2032428089 {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: rgb(172, 0, 0);
}
#section_2032428089 .ux-shape-divider--bottom svg {
  height: 150px;
  --divider-width: 100%;
}
</style>
	</section>
	
	<section class="section" id="section_1063712317">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row"  id="row-546615861">

	<div id="col-778143133" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			
	<div id="text-2291168429" class="text txt-title">
		
<h2>Tại sao chọn sử dụng dịch vụ cho thuê của chúng tôi</h2>
		
<style>
#text-2291168429 {
  text-align: center;
}
</style>
	</div>
	
		</div>
					</div>

	
</div>
	<div id="gap-311075518" class="gap-element clearfix" style="display:block; height:auto;">
		
<style>
#gap-311075518 {
  padding-top: 50px;
}
</style>
	</div>
	
<div class="row"  id="row-1796352831">

	<div id="col-130863110" class="col medium-3 small-6 large-3"  >
				<div class="col-inner" style="background-color:rgb(245, 250, 255);" >
			
			

	<a class="plain" href="#" >	<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 55px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="55" height="58" viewBox="0 0 32 32">
  <path fill="currentColor" d="M6 3v26h16v-2H8V5h10v6h6v2h2V9.6l-.3-.3l-6-6l-.3-.3H6zm14 3.4L22.6 9H20V6.4zM10 13v2h12v-2H10zm17 2v2c-1.7.3-3 1.7-3 3.5c0 2 1.5 3.5 3.5 3.5h1c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5H25v2h2v2h2v-2c1.7-.3 3-1.7 3-3.5c0-2-1.5-3.5-3.5-3.5h-1c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5H31v-2h-2v-2h-2zm-17 3v2h7v-2h-7zm9 0v2h3v-2h-3zm-9 4v2h7v-2h-7zm9 0v2h3v-2h-3z"></path>
</svg>
					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Tiết kiệm chi phí</h3>
<p>Thay vì mua sắm trang thiết bị mới tốn kém, quý khách có thể tiết kiệm chi phí bằng cách thuê thiết bị từ chúng tôi.</p>
		</div>
	</div>
	</a>
	
		</div>
				
<style>
#col-130863110 > .col-inner {
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-752902026" class="col medium-3 small-6 large-3"  >
				<div class="col-inner" style="background-color:rgb(245, 250, 255);" >
			
			

	<a class="plain" href="#" >	<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 55px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="55" height="58" viewBox="0 0 32 32">
  <path fill="currentColor" d="M10 4v11h12V4H10zm2 2h2v4l2-2l2 2V6h2v7h-8V6zM3 17v11h12V17H3zm14 0v11h12V17H17zM5 19h2v4l2-2l2 2v-4h2v7H5v-7zm14 0h2v4l2-2l2 2v-4h2v7h-8v-7z"></path>
</svg>
					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Đa dạng sản phẩm</h3>
<p>Chúng tôi cung cấp đa dạng mẫu mã, chủng loại thiết bị, đáp ứng mọi nhu cầu sử dụng của quý khách hàng.</p>
		</div>
	</div>
	</a>
	
		</div>
				
<style>
#col-752902026 > .col-inner {
  padding: 5px 5px 35px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-2013296301" class="col medium-3 small-6 large-3"  >
				<div class="col-inner" style="background-color:rgb(245, 250, 255);" >
			
			

	<a class="plain" href="#" >	<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 55px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="55" height="58" viewBox="0 0 32 32">
  <path fill="currentColor" d="M16 3c-.625 0-1.246.21-1.781.594L12.563 4.75L10.655 5h-.031l-.031.031A3.394 3.394 0 0 0 8.03 7.594L8 7.625v.031l-.25 1.938l-1.156 1.5l-.032.031v.031c-.699 1.117-.73 2.559.032 3.625l1.187 1.656l.313 1.72l-3.219 4.905l-1.031 1.532h4.781l1.156 2.687L10.5 29l1.031-1.563l3.156-4.75c.848.348 1.805.38 2.626 0l3.156 4.75L21.5 29l.719-1.719l1.156-2.687h4.781l-1.031-1.532L24 18.313l.25-1.875l1.156-1.656l.032-.031v-.031c.699-1.117.73-2.528-.032-3.594L24.25 9.469l-.375-1.875h.031c-.004-.024-.027-.04-.031-.063c-.18-1.308-1.215-2.37-2.531-2.531h-.032l-1.875-.25l-1.656-1.156A3.074 3.074 0 0 0 16 3zm0 2.031c.23 0 .457.07.625.188L18.406 6.5l.219.156l.25.032L21.063 7h.03c.45.05.762.363.813.813v.062l.407 2.219l.03.219l.157.187l1.281 1.781c.239.332.27.895-.031 1.375l-1.406 1.969l-.032.25L22 18.063v.03a.994.994 0 0 1-.156.438l-.063.032v.03a.88.88 0 0 1-.593.313h-.063l-2.281.407l-.25.03l-.188.157l-1.781 1.281c-.332.239-.926.27-1.406-.031l-1.625-1.25l-.188-.156l-.281-.032L10.937 19h-.03a.885.885 0 0 1-.688-.438a.99.99 0 0 1-.125-.375v-.062l-.406-2.281l-.032-.25l-.156-.188l-1.281-1.781c-.239-.332-.27-.926.031-1.406l1.25-1.625l.156-.188l.031-.281l.282-2.094c.004-.015.027-.015.031-.031a1.394 1.394 0 0 1 1-1c.016-.004.016-.027.031-.031l2.094-.282l.25-.03l.219-.157l1.781-1.281c.168-.117.395-.188.625-.188zm6.906 15.219l1.532 2.344H22.03l-.25.625l-.687 1.593l-2.125-3.25l.468-.343l1.97-.344v.031c.023-.004.038-.027.062-.031a2.97 2.97 0 0 0 1.437-.625zm-13.812.031a2.85 2.85 0 0 0 1.562.719h.031l1.907.25l.437.344l-2.125 3.218l-.687-1.593l-.25-.625H7.563z"></path>
</svg>
					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Sản phẩm chất lượng</h3>
<p>Tất cả các thiết bị cho thuê đều được nhập khẩu từ các thương hiệu uy tín trên thế giới, đảm bảo chất lượng và độ bền cao</p>
		</div>
	</div>
	</a>
	
		</div>
				
<style>
#col-2013296301 > .col-inner {
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1003786150" class="col medium-3 small-6 large-3"  >
				<div class="col-inner" style="background-color:rgb(245, 250, 255);" >
			
			

	<a class="plain" href="#" >	<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 55px">
				<div class="icon">
					<div class="icon-inner" >
						<?xml version="1.0" encoding="UTF-8"?>
<svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="55" height="58" viewBox="0 0 32 32">
  <path fill="currentColor" d="M8 5c-3.3 0-6 2.7-6 6c0 2 1 3.8 2.5 4.8C1.8 17.2 0 19.9 0 23h2c0-3.3 2.7-6 6-6s6 2.7 6 6h2c0-3.2 2.6-5.9 5.8-6h.2c2.5 0 4.6-1.5 5.5-3.6c0 0 0-.1.1-.1c.1-.1.1-.3.1-.4c0-.1 0-.1.1-.2c0-.1.1-.3.1-.4c0-.1 0-.2.1-.3c0-.1 0-.2.1-.3v-.6c0-3.3-2.7-6-6-6s-6 2.7-6 6c0 2 1 3.8 2.5 4.8c-1.5.7-2.7 1.9-3.5 3.3c-.8-1.4-2-2.6-3.5-3.3C13 14.8 14 13 14 11c0-3.3-2.7-6-6-6zm0 2c2.2 0 4 1.8 4 4s-1.8 4-4 4s-4-1.8-4-4s1.8-4 4-4zm14 0c2.2 0 4 1.8 4 4s-1.8 4-4 4s-4-1.8-4-4s1.8-4 4-4zm2.1 11v2.1c-.6.1-1.2.4-1.7.7l-1.5-1.5l-1.4 1.4l1.5 1.5c-.4.5-.6 1.1-.7 1.8H18v2h2.1c.1.6.4 1.2.7 1.8l-1.5 1.5l1.4 1.4l1.5-1.5c.5.3 1.1.6 1.7.7V32h2v-2.1c.6-.1 1.2-.4 1.7-.7l1.5 1.5l1.4-1.4l-1.5-1.5c.4-.5.6-1.1.7-1.8H32v-2h-2.1c-.1-.6-.4-1.2-.7-1.8l1.5-1.5l-1.4-1.4l-1.5 1.5c-.5-.3-1.1-.6-1.7-.7V18h-2zm.9 4c1.7 0 3 1.3 3 3s-1.3 3-3 3s-3-1.3-3-3s1.3-3 3-3zm0 2a.872.872 0 0 0-.367.086a1.138 1.138 0 0 0-.32.227a1.138 1.138 0 0 0-.227.32A.872.872 0 0 0 24 25c0 .125.031.25.086.367c.055.117.133.227.227.32c.093.094.203.172.32.227A.872.872 0 0 0 25 26c.5 0 1-.5 1-1s-.5-1-1-1z"></path>
</svg>
					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Chuyên nghiệp, tận tâm</h3>
<p>Đội ngũ nhân viên của chúng tôi luôn sẵn sàng hỗ trợ quý khách lựa chọn thiết bị phù hợp và giải đáp mọi thắc mắc.</p>
		</div>
	</div>
	</a>
	
		</div>
				
<style>
#col-1003786150 > .col-inner {
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_1063712317 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(255,255,255);
}
</style>
	</section>
	
	<section class="section" id="section_1123580213">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row"  id="row-1872678476">

	<div id="col-904109579" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			
	<div id="text-1609705427" class="text txt-title">
		
<h2>Các dịch vụ cho thuê</h2>
		
<style>
#text-1609705427 {
  text-align: center;
}
</style>
	</div>
	
		</div>
				
<style>
#col-904109579 > .col-inner {
  margin: 0px 0px 40px 0px;
}
</style>
	</div>

	
</div>
<div class="row"  id="row-1495006688">

	<div id="col-342204302" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(243, 243, 243);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 55px">
				<div class="icon">
					<div class="icon-inner" >
						<img fetchpriority="high" decoding="async" width="800" height="400" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20800%20400'%3E%3C/svg%3E" class="attachment-medium size-medium" alt="fund projection screen outlined" title="Dịch vụ cho thuê thiết bị 1" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/04/fund-projection-screen-outlined.svg"><noscript><img fetchpriority="high" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/fund-projection-screen-outlined.svg" class="attachment-medium size-medium" alt="fund projection screen outlined" title="Dịch vụ cho thuê thiết bị 1"></noscript>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<div class="accordion accor-chothue">
	<div id="accordion-3131087044" class="accordion-item">
		<a id="accordion-3131087044-label" class="accordion-title plain active" href="#accordion-item-cho_thuê_máy_chiếu" aria-expanded="true" aria-controls="accordion-3131087044-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>Cho thuê máy chiếu</span>
		</a>
		<div id="accordion-3131087044-content" class="accordion-inner" style="display: block;" aria-labelledby="accordion-3131087044-label" >
			
<p>Chúng tôi cung cấp cho khách hàng dịch vụ cho thuê các sản phẩm máy chiếu đa chức năng của INNO</p>
		</div>
	</div>
	
</div>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-342204302 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-523046232" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(243, 243, 243);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 55px">
				<div class="icon">
					<div class="icon-inner" >
						<img decoding="async" width="800" height="400" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20800%20400'%3E%3C/svg%3E" class="attachment-medium size-medium" alt="display" title="Dịch vụ cho thuê thiết bị 2" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/04/display.svg"><noscript><img decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/display.svg" class="attachment-medium size-medium" alt="display" title="Dịch vụ cho thuê thiết bị 2"></noscript>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<div class="accordion accor-chothue">
	<div id="accordion-972732417" class="accordion-item">
		<a id="accordion-972732417-label" class="accordion-title plain active" href="#accordion-item-cho_thuê_màn_hình" aria-expanded="true" aria-controls="accordion-972732417-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>Cho thuê màn hình</span>
		</a>
		<div id="accordion-972732417-content" class="accordion-inner" style="display: block;" aria-labelledby="accordion-972732417-label" >
			
<p>Cung cấp dịch vụ cho thuê các loại màn hình tương tác, màn hình hiển thị, màn hình ghép, INNO…</p>
		</div>
	</div>
	
</div>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-523046232 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1067910861" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(243, 243, 243);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 55px">
				<div class="icon">
					<div class="icon-inner" >
						<img decoding="async" width="800" height="400" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20800%20400'%3E%3C/svg%3E" class="attachment-medium size-medium" alt="scanner line" title="Dịch vụ cho thuê thiết bị 3" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/04/scanner-line.svg"><noscript><img decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/scanner-line.svg" class="attachment-medium size-medium" alt="scanner line" title="Dịch vụ cho thuê thiết bị 3"></noscript>					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<div class="accordion accor-chothue">
	<div id="accordion-1894796842" class="accordion-item">
		<a id="accordion-1894796842-label" class="accordion-title plain active" href="#accordion-item-cho_thuê_máy_photocopy" aria-expanded="true" aria-controls="accordion-1894796842-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>Cho thuê máy Photocopy</span>
		</a>
		<div id="accordion-1894796842-content" class="accordion-inner" style="display: block;" aria-labelledby="accordion-1894796842-label" >
			
<p>Cung cấp các dịch vụ cho thuê các loại máy photocopy, máy in, máy scan,&#8230;đa dạng mẫu mã, chủng loại.</p>
		</div>
	</div>
	
</div>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-1067910861 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	
</div>
<div class="row align-center"  id="row-793398837">

	<div id="col-1235547990" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(243, 243, 243);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 55px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/scan.svg" class="attachment-medium size-medium" alt="scan" title="Dịch vụ cho thuê thiết bị 4">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<div class="accordion accor-chothue">
	<div id="accordion-2400201425" class="accordion-item">
		<a id="accordion-2400201425-label" class="accordion-title plain active" href="#accordion-item-cho_thuê_máy_scan" aria-expanded="true" aria-controls="accordion-2400201425-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>Cho thuê máy scan</span>
		</a>
		<div id="accordion-2400201425-content" class="accordion-inner" style="display: block;" aria-labelledby="accordion-2400201425-label" >
			
<p>Cung cấp các dịch vụ cho thuê máy scan chuyên dùng số hóa tài liệu các dòng máy Scan của INNO Việt Nam</p>
		</div>
	</div>
	
</div>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-1235547990 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-811944227" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(243, 243, 243);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 55px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/server-square-cloud-broken.svg" class="attachment-medium size-medium" alt="server square cloud broken" title="Dịch vụ cho thuê thiết bị 5">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<div class="accordion accor-chothue">
	<div id="accordion-662559149" class="accordion-item">
		<a id="accordion-662559149-label" class="accordion-title plain active" href="#accordion-item-cho_thuê_cloud_server" aria-expanded="true" aria-controls="accordion-662559149-content" >
			<button class="toggle" aria-label="Toggle"><i class="icon-angle-down"></i></button>
			<span>Cho thuê Cloud Server</span>
		</a>
		<div id="accordion-662559149-content" class="accordion-inner" style="display: block;" aria-labelledby="accordion-662559149-label" >
			
<p>Cho thuê hệ thống thiết bị mạng, máy chủ, máy trạm, thiết bị mạng như HP, Dell, Lenovo, ASUS, Draytek, TPLink,…</p>
		</div>
	</div>
	
</div>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-811944227 > .col-inner {
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_1123580213 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(238, 238, 238);
}
</style>
	</section>
	
	<section class="section" id="section_1893388053">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

			<div class="ux-shape-divider ux-shape-divider--top ux-shape-divider--style-curve">
		<svg viewBox="0 0 1000 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
	<path class="ux-shape-fill" d="M0 0C0 0 200 50 500 50C800 50 1000 0 1000 0V101H0V1V0Z"/>
</svg>
	</div>


		<div class="section-content relative">
			
<div class="row"  id="row-1290796677">

	<div id="col-694560036" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			
	<div id="text-4213055405" class="text txt-title">
		
<h2>Dịch vụ cho thuê và triển khai Cloud Server</h2>
		
<style>
#text-4213055405 {
  text-align: center;
}
</style>
	</div>
	
		</div>
					</div>

	

<style>
#row-1290796677 > .col > .col-inner {
  padding: 50px 0px 0px 0px;
}
</style>
</div>
<div class="row align-middle"  id="row-1305658367">

	<div id="col-208786463" class="col medium-6 small-12 large-6"  >
				<div class="col-inner"  >
			
			
<h3>Virtual Private Cloud (VPC)</h3>
<p>Virtual Private Cloud (VPC) là dịch vụ đám mây riêng ảo trên nền tảng Điện toán đám mây công cộng (Public Cloud) của Sao Mai.</p>
<p>Virtual Private Cloud cung cấp trọn gói vùng tài nguyên tính toán, lưu trữ kết hợp với giải pháp mạng định nghĩa bằng phần mềm (Software Defined Networking) cho phép khách hàng tự thiết lập, cấu hình trung tâm dữ liệu ảo (Virtual Data Center).</p>
<a href="tel:0926557757" target="_self" class="button primary lowercase reveal-icon"  style="border-radius:5px;">
  <i class="icon-phone" aria-hidden="true" ></i>  <span>Liên hệ báo giá</span>
  </a>

		</div>
					</div>

	

	<div id="col-439174851" class="col medium-6 small-12 large-6"  >
				<div class="col-inner"  >
			
			
	<div id="ux-lottie-2946991630" class="ux-lottie" >
				<lottie-player class="ux-lottie__player" data-params="{&quot;src&quot;:&quot;https:\/\/lottie.host\/868ec3bd-f1c7-4b85-ab27-f44d385afa9f\/M9uFgk0C9G.json&quot;,&quot;loop&quot;:true,&quot;autoplay&quot;:true,&quot;controls&quot;:false,&quot;speed&quot;:&quot;1&quot;,&quot;direction&quot;:1,&quot;trigger&quot;:&quot;&quot;,&quot;mouseout&quot;:&quot;&quot;,&quot;start&quot;:0,&quot;end&quot;:100,&quot;visibilityStart&quot;:0,&quot;visibilityEnd&quot;:100,&quot;id&quot;:&quot;ux-lottie-2946991630&quot;}" ></lottie-player>
				
<style>
#ux-lottie-2946991630 {
  width: 100%;
  height: 600px;
}
</style>
	</div>
	
		</div>
				
<style>
#col-439174851 > .col-inner {
  margin: -50px 0px -100px 0px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_1893388053 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(245, 250, 255);
}
#section_1893388053 .ux-shape-divider--top svg {
  height: 150px;
  --divider-top-width: 100%;
}
#section_1893388053 .ux-shape-divider--top .ux-shape-fill {
  fill: rgb(238, 238, 238);
}
</style>
	</section>
	
	<section class="section" id="section_1142950126">
		<div class="bg section-bg fill bg-fill  bg-loaded" >

			
			
			

		</div>

		

		<div class="section-content relative">
			
<div class="row row-collapse row-full-width"  id="row-1216606713">

	<div id="col-1695496784" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			

  <div class="banner has-hover" id="banner-2042438195">
          <div class="banner-inner fill">
        <div class="banner-bg fill" >
            <div class="bg fill bg-fill "></div>
                                    
                    </div>
		
        <div class="banner-layers container">
            <div class="fill banner-link"></div>            
   <div id="text-box-945396364" class="text-box banner-layer x50 md-x50 lg-x50 y20 md-y55 lg-y55 res-text">
                                <div class="text-box-content text dark">
              
              <div class="text-inner text-center">
                  
	<div id="text-3636081648" class="text txt-title">
		
<h2>Tại sao chọn triển khai dịch vụ Cloud Server của chúng tôi</h2>
			</div>
	
              </div>
           </div>
                            
<style>
#text-box-945396364 {
  width: 80%;
}
#text-box-945396364 .text-box-content {
  font-size: 46%;
}
@@media (min-width:550px) {
  #text-box-945396364 {
    width: 70%;
  }
  #text-box-945396364 .text-box-content {
    font-size: 60%;
  }
}
@@media (min-width:850px) {
  #text-box-945396364 {
    width: 60%;
  }
  #text-box-945396364 .text-box-content {
    font-size: 70%;
  }
}
</style>
    </div>
 
        </div>
      </div>

            
<style>
#banner-2042438195 {
  padding-top: 170px;
  background-color: rgb(194, 12, 9);
}
@@media (min-width:550px) {
  #banner-2042438195 {
    padding-top: 300px;
  }
}
</style>
  </div>


		</div>
					</div>

	
</div>
<div class="row"  id="row-1133468834">

	<div id="col-1740640226" class="col small-12 large-12"  >
				<div class="col-inner"  >
			
			
<div class="slider-wrapper relative" id="slider-1512455610" >
    <div class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal"
        data-flickity-options='{
            "cellAlign": "center",
            "imagesLoaded": true,
            "lazyLoad": 1,
            "freeScroll": false,
            "wrapAround": true,
            "autoPlay": 6000,
            "pauseAutoPlayOnHover" : true,
            "prevNextButtons": false,
            "contain" : true,
            "adaptiveHeight" : true,
            "dragThreshold" : 10,
            "percentPosition": true,
            "pageDots": false,
            "rightToLeft": false,
            "draggable": true,
            "selectedAttraction": 0.1,
            "parallax" : 0,
            "friction": 0.6        }'
        >
        
<div class="row"  id="row-648622936">

	<div id="col-740508224" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(255, 255, 255);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/clipboard-check-broken.svg" class="attachment-medium size-medium" alt="clipboard check broken" title="Dịch vụ cho thuê thiết bị 6">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Triển khai nhanh &amp; hiệu quả</h3>
<p>Hạ tầng ảo hóa sẽ mang đến cho nhà trường một hệ thống Cloud Server mạnh mẽ, ổn định, vận hành 24/7</p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-740508224 > .col-inner {
  padding: 10px 5px 40px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-124039923" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(255,255,255);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/card-recive-outline.svg" class="attachment-medium size-medium" alt="card recive outline" title="Dịch vụ cho thuê thiết bị 7">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Tiết kiệm chi phí</h3>
<p>Tiết kiệm tối đa chi phí, giảm thiểu rủi ro về dữ liệu. Mọi trách nhiệm vận hành hạ tầng và bảo trì phần cứng máy chủ do bên đơn vị cung cấp thực hiện</p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-124039923 > .col-inner {
  padding: 10px 5px 15px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1109488698" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(255,255,255);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/shield-check-outline.svg" class="attachment-medium size-medium" alt="shield check outline" title="Dịch vụ cho thuê thiết bị 8">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Backup an toàn dữ liệu</h3>
<p>Hệ thống lưu trữ và cơ chế sao lưu hàng ngày, hàng tuần, hàng tháng đảm bảo dữ liệu luôn luôn sẵn sàng và liên tục</p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-1109488698 > .col-inner {
  padding: 10px 5px 40px 5px;
  border-radius: 5px;
}
</style>
	</div>

	
</div>
<div class="row"  id="row-1363312082">

	<div id="col-1561881929" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(255,255,255);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/tuning-square-outline.svg" class="attachment-medium size-medium" alt="tuning square outline" title="Dịch vụ cho thuê thiết bị 9">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Nâng cấp linh hoạt</h3>
<p>Cloud Server cho phép bạn chủ động lựa chọn cấu hình và tăng giảm tài nguyên theo nhu cầu sử dụng thực tế</p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-1561881929 > .col-inner {
  padding: 10px 5px 40px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-392109568" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(255,255,255);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/widget-add-outline.svg" class="attachment-medium size-medium" alt="widget add outline" title="Dịch vụ cho thuê thiết bị 10">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Nhiều gói thuê để lựa chọn</h3>
<p>Cloud Server cho phép nhà trường chủ động lựa chọn gói sử dụng phù hợp theo số lượng người dùng, băng thông đường truyền theo nhu cầu của nhà trường</p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-392109568 > .col-inner {
  padding: 10px 5px 15px 5px;
  border-radius: 5px;
}
</style>
	</div>

	

	<div id="col-1468838892" class="col medium-4 small-12 large-4"  >
				<div class="col-inner" style="background-color:rgb(255,255,255);" >
			
			

		<div class="icon-box featured-box icon-box-center text-center"  >
					<div class="icon-box-img" style="width: 60px">
				<div class="icon">
					<div class="icon-inner" >
						<img loading="lazy" decoding="async" width="800" height="400" src="https://inno.com.vn/wp-content/uploads/2024/04/settings-broken.svg" class="attachment-medium size-medium" alt="settings broken" title="Dịch vụ cho thuê thiết bị 11">					</div>
				</div>
			</div>
				<div class="icon-box-text last-reset">
									
<h3>Hỗ trợ kỹ thuật nhanh chóng</h3>
<p>Nhận được hỗ trợ kỹ thuật, và khắc phục các lỗi nhanh chóng, đảm bảo hệ thống vận hành liên tục và hiệu quả</p>
		</div>
	</div>
	
	
		</div>
				
<style>
#col-1468838892 > .col-inner {
  padding: 10px 5px 40px 5px;
  border-radius: 5px;
}
</style>
	</div>

	
</div>
     </div>

     <div class="loading-spin dark large centered"></div>

	</div>


		</div>
				
<style>
#col-1740640226 > .col-inner {
  margin: -70px 0px 70px 0px;
}
</style>
	</div>

	
</div>
		</div>

		
<style>
#section_1142950126 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(245, 250, 255);
}
</style>
	</section>
	

		
</div>



</main>
