@{
	ViewData["Title"] = "Quy định bảo hành";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="">


	<div id="content" role="main" class="content-area">


		<section class="section" id="section_160454052">
			<div class="bg section-bg fill bg-fill  bg-loaded">
			</div>



			<div class="section-content relative">

				<div class="row row-collapse row-full-width" id="row-1671836468">

					<div id="col-382905642" class="col small-12 large-12">
						<div class="col-inner">



							<div class="banner has-hover" id="banner-1072751629">
								<div class="banner-inner fill">
									<div class="banner-bg fill">
										<div class="bg fill bg-fill "></div>

									</div>

									<div class="banner-layers container">
										<div class="fill banner-link"></div>
									</div>
								</div>

								<div class="height-fix is-invisible"><img fetchpriority="high" decoding="async" width="1920" height="553" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201920%20553'%3E%3C/svg%3E" class="attachment-original size-original" alt="Bao hanh INNO" data-lazy-srcset="https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO.webp 1920w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-800x230.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-1400x403.webp 1400w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-768x221.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-1536x442.webp 1536w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-600x173.webp 600w" data-lazy-sizes="(max-width: 1920px) 100vw, 1920px" title="Quy định bảo hành 1" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO.webp"><noscript><img fetchpriority="high" decoding="async" width="1920" height="553" src="https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO.webp" class="attachment-original size-original" alt="Bao hanh INNO" srcset="https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO.webp 1920w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-800x230.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-1400x403.webp 1400w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-768x221.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-1536x442.webp 1536w, https://inno.com.vn/wp-content/uploads/2024/03/Bao-hanh-INNO-600x173.webp 600w" sizes="(max-width: 1920px) 100vw, 1920px" title="Quy định bảo hành 1"></noscript></div>

							</div>


						</div>
					</div>


				</div>
			</div>

		</section>

		<section class="section" id="section_1714608033">
			<div class="bg section-bg fill bg-fill  bg-loaded">


				<div class="section-bg-overlay absolute fill"></div>


			</div>



			<div class="section-content relative">

				<div class="row row-collapse" id="row-736708638">

					<div id="col-1023359413" class="col small-12 large-12">
						<div class="col-inner" style="background-color:rgb(255,255,255);">


							<div id="text-1674145670" class="text">

								<h2><strong>Chính sách bảo hành các sản phẩm INNO</strong></h2>

							</div>

							<div id="gap-1727030886" class="gap-element clearfix" style="display:block; height:auto;">

							</div>

							<p><strong><u>Phần 1</u></strong><strong>: </strong><strong>ĐIỀU KIỆN &amp; CHÍNH SÁCH BẢO HÀNH</strong></p>
							<p><strong>1.1</strong> Sản phẩm INNO được chúng tôi bảo hành với chính sách bảo hành của hãng, được áp dụng theo thời gian và điều kiện bảo hành theo sản phẩm như sau:</p>
							<ul>
								<li>Bàn cộng tác / Ghế tương tác: Thời gian bảo hành là 12 tháng.</li>
								<li>Giỏ sạc / Tủ sạc: 2 năm đối với khung và 1 năm đối với linh kiện điện tử.</li>
								<li>Màn hình tương tác và hiển thị thông minh: Bảo hành 1 năm.</li>
							</ul>
							<p><strong>1.2</strong> Chính sách bảo hành, INNo / SMEG sẽ bảo hành thiết bị và máy móc với những lưu ý với khách hàng như sau:.              </p>
							<p>a. Bảo hành không bao gồm kính, hình dáng toàn bộ máy, thùng giấy, nhãn dán, nhãn hộp, bút cảm ứng, sách hướng dẫn, phiếu bảo hành, giá treo tường, cáp HDMI, cáp VGA và cáp tai nghe.              </p>
							<p>b. Các phụ kiện được bảo hành một tháng, bao gồm bộ thu MIC, điều khiển từ xa, tai nghe, máy phát màn hình và bút thông minh.</p>
							<ul>
								<li>Bục thông minh: Bảo hành 2 năm cho khung và 1 năm cho linh kiện điện tử</li>
							</ul>
							<p><strong><u>Phần </u></strong><strong><u>2:</u></strong><strong>  </strong><strong>CÁC ĐIỀU KHOẢN </strong><strong>LOẠI TRỪ</strong></p>
							<p>Bảo hành không áp dụng cho những hư hỏng mà INNO không thể chịu trách nhiệm và bao gồm nhưng không giới hạn ở những điều sau đây:</p>
							<p><strong>2.1</strong> Sử dụng không đúng cách, hư hỏng cơ học (ví dụ như vết trầy xước, áp lực hoặc điểm gãy), bảo quản không đúng hoặc làm sạch và bảo trì không đúng cách.Cũng như bao gồm các chi phí sửa đổi hoặc điều chỉnh có thể cần thiết để điều chỉnh sản phẩm cho phù hợp với bất kỳ tiêu chuẩn kỹ thuật hoặc an toàn nào của địa phương.</p>
							<p><strong>2.2</strong> Việc kết nối hoặc sử dụng sản phẩm không đúng mục đích dự định và không tuân thủ hướng dẫn vận hành và lắp đặt của INNO hoặc tài liệu kỹ thuật hợp lệ.Các quy định hoặc tiêu chuẩn liên quan đến an toàn của quốc gia nơi sản phẩm được sử dụng.</p>
							<p><strong>2.3</strong> Không tuân thủ hướng dẫn chăm sóc và bảo trì của INNO.</p>
							<p><strong>2.4</strong> Điều kiện hoạt động vượt quá mức sử dụng thông thường của văn phòng hoặc cá nhân (ví dụ: hoạt động trong môi trường có khói hoặc bụi khí quyển hoặc ở nhiệt độ phòng đặc biệt và dưới bức xạ UV/IR).Các điều kiện vận hành riêng biệt được INNO quy định cho một số sản phẩm nhất định nếu cần thiết.</p>
							<p><strong>2.5</strong> Thiên tai, hỏa hoạn, lũ lụt, phơi nhiễm hóa chất hoặc sinh học, hành động chiến tranh, hành động bạo lực hoặc sự kiện tương tự.</p>
							<p><strong>2.6</strong> Lỗi gây ra không phải do sản phẩm của INNO được kết nối hoặc sử dụng cùng với Sản phẩm.</p>
							<p><strong>2.7</strong> Việc sửa đổi sản phẩm bởi những đơn vị không được INNO ủy quyền.</p>
							<p><strong>2.8</strong> Các bộ phận phụ kiện như hộp, bao bì, pin hoặc các vật tư tiêu hao khác được sử dụng trong hệ thống đi kèm với sản phẩm và phải được thay thế theo dự kiến ​​sẽ không được bảo hành.</p>
							<p><strong>2.9</strong> Các sản phẩm có số sê-ri đã bị sửa đổi, loại bỏ hoặc khó đọc sẽ bị loại và không được bảo hành.</p>
							<p><strong><u>Phần 3</u></strong><strong>: ĐIỀU KHOẢN KHÁC</strong></p>
							<p>Thiệt hại do tai nạn</p>
							<p>Chúng tôi không thể bảo hành thiệt hại do tai nạn vì điều này nằm ngoài tầm kiểm soát của nhà sản xuất.</p>
							<p>Bảo hiểm của bên thứ ba nên được đưa ra để chi trả cho tình huống này.</p>
							<p><strong><u>Phần 4</u></strong>:   <strong>ĐÀO TẠO DỊCH VỤ</strong></p>
							<p><strong>4</strong><strong>.1</strong> Tư vấn trực tuyến &amp; Dịch vụ từ xaCác loại dịch vụ sản phẩm của chúng tôi bao gồm cung cấp cho khách hàng các cuộc gọi điện thoại về sản phẩm và tư vấn trực tuyến hướng dẫn sử dụng từ xa, hướng dẫn đào tạo từ xa, hỗ trợ kỹ thuật từ xa.</p>
							<p><strong>4</strong><strong>.2</strong> Nội dung dịch vụ bao gồm: Các vấn đề vận hành trong quá trình bảo trì hàng ngày, vận hành thiết bị, chức năng và cấu hình thiết bị, kết cấu thiết bị v.v.Trong trường hợp dịch vụ hỗ trợ qua điện thoại không thể giải quyết được vấn đề lỗi thiết bị, hoặc thực hiện lại hỗ trợ kỹ thuật qua điện thoại, thực hiện chẩn đoán sự cố từ xa trên thiết bị hư hỏng và sẽ đề xuất giải pháp khắc phục sự cố.</p>
							<p><strong>4.3</strong> Công ty chúng tôi đã thành lập nhóm dự án dịch vụ sau bán hàng cho các dự án của khách hàng, đó là bao gồm các nhân viên kỹ thuật có trình độ chuyên môn, bao gồm các giảng viên và hậu mãi chuyên nghiệp, kỹ sư kỹ thuật, để thành lập một nhóm hỗ trợ đội ngũ hậu mãi lành nghề để đáp ứng dịch vụ khách hàng yêu cầu, hỗ trợ và hướng dẫn khách hàng giải quyết vấn đề.</p>
							<p><strong><u>Phần 5</u></strong><strong><u>: </u></strong><strong>DỊCH VỤ GIÁ TRỊ GIA TĂNG</strong></p>
							<p><strong>5</strong><strong>.1</strong> Đối với những sản phẩm bị lỗi không đáp ứng được điều kiện bảo hành và thay thế, công ty chúng tôi sẽ tính một khoản phí hợp lý (một thỏa thuận khác sẽ được thực hiện khi nó xảy ra, chỉ giới hạn ở chi phí và nhân công cơ bản) và công ty chúng tôi cam kết bảo hành miễn phí 3 tháng cho các linh kiện sửa chữa.</p>
							<p><strong>5</strong><strong>.2</strong> Chúng tôi sẽ cung cấp hỗ trợ kỹ thuật miễn phí trọn đời cho các sản phẩm INNO cung cấp.</p>
							<p><strong>5</strong><strong>.3</strong> Thường xuyên cung cấp dịch vụ chẩn đoán lỗi từ xa cho khách hàng đang sử dụng.Kiểm tra tình trạng hoạt động của sản phẩm thông qua hình ảnh video mạng, hướng dẫn khách hàng bảo trì sản phẩm, khắc phục lỗi phần mềm trong quá trình sử dụng sản phẩm và cải thiện độ ổn định và tuổi thọ của sản phẩm.</p>
							<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_785436812">
								<div class="img-inner dark">
									<img decoding="async" width="1020" height="408" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201020%20408'%3E%3C/svg%3E" class="attachment-large size-large" alt="Chinh sach bao hanh INNO" data-lazy-srcset="https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-1400x560.webp 1400w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-800x320.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-768x307.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-1536x614.webp 1536w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-600x240.webp 600w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO.webp 1920w" data-lazy-sizes="(max-width: 1020px) 100vw, 1020px" title="Quy định bảo hành 2" data-lazy-src="https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-1400x560.webp"><noscript><img decoding="async" width="1020" height="408" src="https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-1400x560.webp" class="attachment-large size-large" alt="Chinh sach bao hanh INNO" srcset="https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-1400x560.webp 1400w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-800x320.webp 800w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-768x307.webp 768w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-1536x614.webp 1536w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO-600x240.webp 600w, https://inno.com.vn/wp-content/uploads/2024/03/Chinh-sach-bao-hanh-INNO.webp 1920w" sizes="(max-width: 1020px) 100vw, 1020px" title="Quy định bảo hành 2"></noscript>
								</div>

							</div>

						</div>

					</div>


				</div>
			</div>

		</section>

	</div>

</main>
