@{
	ViewData["Title"] = "Giới thiệu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <main id="main" class="">


	<div id="content" role="main" class="content-area">


		<section class="section" id="section_771303326">
			<div class="bg section-bg fill bg-fill  ">


				<div class="section-bg-overlay absolute fill"></div>


			</div>



			<div class="section-content relative">

				<div class="row row-small align-middle align-center" id="row-1657900401">

					<div id="col-511773208" class="col medium-8 small-12 large-8">
						<div class="col-inner">


							<div id="text-2307585039" class="text">

								<h1 style="text-align: center;">VỀ CHÚNG TÔI</h1>

								<style>
									#text-2307585039 {
										font-size: 1.75rem;
										color: rgb(255,255,255);
									}

										#text-2307585039 > * {
											color: rgb(255,255,255);
										}
								</style>
							</div>

							<div id="text-672406928" class="text">

								<p>INNO Việt Nam là một nhà nghiên cứu và sản xuất hàng đầu tại Việt Nam với các sản phẩm và giải pháp chuyên biệt tập trung vào lĩnh vực giáo dục</p>

								<style>
									#text-672406928 {
										text-align: center;
										color: rgb(255,255,255);
									}

										#text-672406928 > * {
											color: rgb(255,255,255);
										}
								</style>
							</div>

						</div>
					</div>


				</div>
			</div>


			<style>
				#section_771303326 {
					padding-top: 80px;
					padding-bottom: 80px;
				}

					#section_771303326 .section-bg-overlay {
						background-color: rgba(0, 0, 0, 0.797);
					}

					#section_771303326 .section-bg.bg-loaded {
						background-image: url(https://inno.com.vn/wp-content/uploads/2024/03/Banner-header-1920x768-1.webp);
					}
			</style>
		</section>

 *@
