@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">


	<div class="sidebar-menu no-scrollbar ">



		<ul class="sidebar-menu-tabs flex nav nav-line-bottom nav-uppercase">
			<li class="sidebar-menu-tabs__tab active">
				<a class="sidebar-menu-tabs__tab-link" href="#">
					<span class="sidebar-menu-tabs__tab-text">Danh mục chính</span>
				</a>
			</li>
			<li class="sidebar-menu-tabs__tab">
				<a class="sidebar-menu-tabs__tab-link" href="#">
					<span class="sidebar-menu-tabs__tab-text">Danh mục sản phẩm</span>
				</a>
			</li>
		</ul>

		<ul class="nav nav-sidebar nav-vertical nav-uppercase hidden" data-tab="2">
			<li class="header-block">
				<div class="header-block-block-2">
					<section class="section" id="section_1497693030">
						<div class="bg section-bg fill bg-fill  bg-loaded">
						</div>



						<div class="section-content relative">


							<div class="row row-small" id="row-2113312476">


								<div id="col-566444468" class="col medium-3 small-6 large-3">
									<div class="col-inner">



										<div id="text-1150801981" class="text">


											<p><strong>Thiết bị hiển thị tương tác</strong></p>

											<style>
												#text-1150801981 {
												  color: #dd3333;
												}
												#text-1150801981 > * {
												  color: #dd3333;
												}
											</style>
										</div>

										<div class="ux-menu stack stack-col justify-start">


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="may-chieu-giao-duc/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Máy chiếu giáo dục
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="may-chieu-thu-vat-the/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Máy chiếu (thu) vật thể
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="man-hinh-tuong-tac-thong-minh/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Màn hình tương tác thông minh
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="ban-tuong-tac-thong-minh/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Bàn tương tác thông minh
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="tivi-giao-duc-thong-minh/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Tivi giáo dục thông minh
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="man-hinh-kiosk-tra-cuu/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Màn hình Kiosk tra cứu
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="man-hinh-led-module/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Màn hình LED module
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="man-hinh-ghep-lcd/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Màn hình ghép LCD
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="man-hinh-hien-thi-thong-tin/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Màn hình hiển thị thông tin
													</span>
												</a>
											</div>



										</div>


									</div>
								</div>



								<div id="col-1554063825" class="col medium-3 small-6 large-3">
									<div class="col-inner">



										<div id="text-2223931430" class="text">


											<p><strong>Thiết bị trường học thông minh</strong></p>

											<style>
												#text-2223931430 {
												  color: #dd3333;
												}
												#text-2223931430 > * {
												  color: #dd3333;
												}
											</style>
										</div>

										<div class="ux-menu stack stack-col justify-start">


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="am-thanh-di-dong/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Âm thanh di động
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="thiet-bi-kiem-tra-danh-gia-voting-system/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Hệ thống voting system
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="may-tinh-bang-smarttab/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Máy tính bảng SmartTab
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="he-thong-quan-ly-chia-khoa-thong-minh/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Tủ quản lý chìa khóa thông minh
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="tu-sac-thong-minh/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Tủ sạc thiết bị thông minh
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="thiet-bi-kiem-soat-ra-vao/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Thiết bị kiểm soát ra vào
													</span>
												</a>
											</div>



										</div>

										<div id="text-1531637900" class="text">


											<p><strong>Thiết bị giảng dạy trực tuyến</strong></p>

											<style>
												#text-1531637900 {
												  color: #dd3333;
												}
												#text-1531637900 > * {
												  color: #dd3333;
												}
											</style>
										</div>

										<div class="ux-menu stack stack-col justify-start">


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="camera-truc-tuyen/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Camera trực tuyến
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="microphone-da-huong/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Microphone đa hướng
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="thiet-bi-ghi-hinh-va-phat-truc-tuyen/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Ghi hình và phát trực tuyến
													</span>
												</a>
											</div>



										</div>


									</div>
								</div>



								<div id="col-264143681" class="col medium-3 small-6 large-3">
									<div class="col-inner">



										<div id="text-3283278707" class="text">


											<p><strong>Nội thất thông minh</strong></p>

											<style>
												#text-3283278707 {
												  color: #dd3333;
												}
												#text-3283278707 > * {
												  color: #dd3333;
												}
											</style>
										</div>

										<div class="ux-menu stack stack-col justify-start">


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="ban-ghe-cho-lop-hoc-hien-dai/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Bàn ghế lớp học hiện đại
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="ban-ghe-cho-lop-hoc-thong-minh/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Bàn ghế lớp học thông minh
													</span>
												</a>
											</div>



										</div>

										<div id="text-209473612" class="text">


											<p><strong>Phần mềm Inclass</strong></p>

											<style>
												#text-209473612 {
												  color: #dd3333;
												}
												#text-209473612 > * {
												  color: #dd3333;
												}
											</style>
										</div>

										<div class="ux-menu stack stack-col justify-start">


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="phan-mem-phong-hoc-ngoai-ngu/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Phần mềm phòng học ngoại ngữ
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="phan-mem-phong-hoc-thong-minh/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Phần mềm phòng học thông minh
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="phan-mem-quan-ly-tap-trung-va-sao-luu-du-lieu/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Phần mềm sao lưu dữ liệu
													</span>
												</a>
											</div>



										</div>

										<div id="text-3460132717" class="text">


											<p><strong>Thiết bị số hóa</strong></p>

											<style>
												#text-3460132717 {
												  color: #dd3333;
												}
												#text-3460132717 > * {
												  color: #dd3333;
												}
											</style>
										</div>

										<div class="ux-menu stack stack-col justify-start">


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="may-scan-sach/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Máy scan sách
													</span>
												</a>
											</div>



										</div>


									</div>
								</div>



								<div id="col-502371674" class="col medium-3 small-6 large-3">
									<div class="col-inner">



										<div id="text-2762255894" class="text">


											<p><strong>Thiết bị thư viện thông minh</strong></p>

											<style>
												#text-2762255894 {
												  color: #dd3333;
												}
												#text-2762255894 > * {
												  color: #dd3333;
												}
											</style>
										</div>

										<div class="ux-menu stack stack-col justify-start">


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="thiet-bi-tvtm-cong-nghe-em/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Thiết bị TVTM công nghệ EM
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="thiet-bi-tvtm-cong-nghe-rfid/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Thiết bị TVTM công nghệ RFID
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="tu-sach-thong-minh/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Tủ sách thông minh
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="may-khu-trung-sach/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Máy khử trùng sách
													</span>
												</a>
											</div>



										</div>

										<div id="text-2014482423" class="text">


											<p><strong>Phần mềm thư viện thông minh</strong></p>

											<style>
												#text-2014482423 {
												  color: #dd3333;
												}
												#text-2014482423 > * {
												  color: #dd3333;
												}
											</style>
										</div>

										<div class="ux-menu stack stack-col justify-start">


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="phan-mem-quan-ly-thu-vien-oliver/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Phần mềm quản lý thư viện Oliver
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="cong-cu-quan-ly-tai-nguyen-hoc-tap-learnpath/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Nền tảng LearnPath
													</span>
												</a>
											</div>



										</div>

										<div id="text-466135196" class="text">


											<p><strong>Robot thông minh</strong></p>

											<style>
												#text-466135196 {
												  color: #dd3333;
												}
												#text-466135196 > * {
												  color: #dd3333;
												}
											</style>
										</div>

										<div class="ux-menu stack stack-col justify-start">


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="robot-van-chuyen-inno/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Robot vận chuyển
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="robot-le-tan-thong-minh-inno/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Robot lễ tân thông minh
													</span>
												</a>
											</div>


											<div class="ux-menu-link flex menu-item">
												<a class="ux-menu-link__link flex" href="robot-phun-khu-trung-inno/index.html">
													<i class="ux-menu-link__icon text-center icon-angle-right"></i>			<span class="ux-menu-link__text">
														Robot phun khử trùng
													</span>
												</a>
											</div>



										</div>


									</div>
								</div>



							</div>

						</div>


						<style>
							#section_1497693030 {
							  padding-top: 30px;
							  padding-bottom: 30px;
							  background-color: rgb(255,255,255);
							}
						</style>
					</section>
				</div>
			</li>
		</ul>
		<ul class="nav nav-sidebar nav-vertical nav-uppercase" data-tab="1">
			<li id="menu-item-16088" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14718 current_page_item menu-item-16088"><a href="index.html" aria-current="page">Trang chủ</a></li>
			<li id="menu-item-16091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16091"><a href="gioi-thieu/index.html">Giới thiệu</a></li>
			<li id="menu-item-16090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-16090">
				<a href="giai-phap/index.html">Giải pháp</a>
				<ul class="sub-menu nav-sidebar-ul children">
					<li id="menu-item-16097" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16097">
						<a href="#">Phòng học hiện đại</a>
						<ul class="sub-menu nav-sidebar-ul">
							<li id="menu-item-16110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16110"><a href="giai-phap-phong-hoc-hien-dai-khoi-mam-non/index.html">Giải pháp phòng học hiện đại khối mầm non</a></li>
							<li id="menu-item-16113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16113"><a href="giai-phap-phong-hoc-hien-dai-khoi-tieu-hoc/index.html">Giải pháp phòng học hiện đại khối Tiểu học</a></li>
							<li id="menu-item-16111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16111"><a href="giai-phap-phong-hoc-hien-dai-khoi-thcs/index.html">Giải pháp phòng học hiện đại khối THCS</a></li>
							<li id="menu-item-16112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16112"><a href="giai-phap-phong-hoc-hien-dai-khoi-thpt/index.html">Giải pháp phòng học hiện đại khối THPT</a></li>
							<li id="menu-item-16109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16109"><a href="giai-phap-phong-hoc-hien-dai-cao-dang-dai-hoc/index.html">Giải pháp phòng học hiện đại Cao đẳng – Đại học</a></li>
						</ul>
					</li>
					<li id="menu-item-16098" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16098">
						<a href="#">Phòng học ngoại ngữ thông minh</a>
						<ul class="sub-menu nav-sidebar-ul">
							<li id="menu-item-16114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16114"><a href="giai-phap-phong-hoc-ngoai-ngu-chuyen-dung-inno-lab-2/index.html">Giải pháp phòng học ngoại ngữ chuyên dùng INNO Lab</a></li>
							<li id="menu-item-16116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16116"><a href="giai-phap-phong-hoc-ngoai-ngu-inclass/index.html">Giải pháp phòng học ngoại ngữ Inclass</a></li>
						</ul>
					</li>
					<li id="menu-item-16099" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16099">
						<a href="#">Phòng học thông minh</a>
						<ul class="sub-menu nav-sidebar-ul">
							<li id="menu-item-16119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16119"><a href="giai-phap-phong-hoc-tuong-tac/index.html">Giải pháp phòng học tương tác</a></li>
							<li id="menu-item-16108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16108"><a href="giai-phap-phong-hoc-da-phuong-tien-2/index.html">Giải pháp phòng học đa phương tiện</a></li>
							<li id="menu-item-16118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16118"><a href="giai-phap-phong-hoc-thong-minh-inclass/index.html">Giải pháp phòng học thông minh Inclass</a></li>
						</ul>
					</li>
					<li id="menu-item-16100" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16100">
						<a href="#">Thư viện thông minh</a>
						<ul class="sub-menu nav-sidebar-ul">
							<li id="menu-item-16124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16124"><a href="thu-vien-thong-minh-khoi-mam-non/index.html">Thư Viện Thông Minh Khối Mầm Non</a></li>
							<li id="menu-item-16127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16127"><a href="thu-vien-thong-minh-khoi-tieu-hoc/index.html">Thư Viện Thông Minh Khối Tiểu học</a></li>
							<li id="menu-item-16125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16125"><a href="thu-vien-thong-minh-khoi-thcs/index.html">Thư Viện Thông Minh Khối THCS</a></li>
							<li id="menu-item-16126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16126"><a href="thu-vien-thong-minh-khoi-thpt/index.html">Thư Viện Thông Minh Khối THPT</a></li>
							<li id="menu-item-16123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16123"><a href="thu-vien-thong-minh-cao-dang-dai-hoc/index.html">Thư viện thông minh Cao đẳng – Đại học</a></li>
						</ul>
					</li>
					<li id="menu-item-16101" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16101">
						<a href="#">Số hóa &#038; chuyển đổi số</a>
						<ul class="sub-menu nav-sidebar-ul">
							<li id="menu-item-16121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16121"><a href="giai-phap-so-hoa-tai-lieu/index.html">Giải pháp số hóa tài liệu</a></li>
							<li id="menu-item-16120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16120"><a href="giai-phap-phong-studio-va-chuyen-doi-so/index.html">Giải pháp phòng studio và chuyển đổi số</a></li>
						</ul>
					</li>
					<li id="menu-item-16102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16102">
						<a href="#">Trường học thông minh</a>
						<ul class="sub-menu nav-sidebar-ul">
							<li id="menu-item-16106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16106"><a href="giai-phap-giang-duong-thong-minh/index.html">Giải pháp giảng đường thông minh</a></li>
							<li id="menu-item-16107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16107"><a href="giai-phap-hoi-truong-thong-minh/index.html">Giải pháp hội trường thông minh</a></li>
							<li id="menu-item-16122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16122"><a href="giai-phap-truong-hoc-thong-minh-smart-school/index.html">Giải pháp trường học thông minh – Smart School</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li id="menu-item-16093" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16093">
				<a href="#">Dịch vụ</a>
				<ul class="sub-menu nav-sidebar-ul children">
					<li id="menu-item-16095" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16095"><a href="dich-vu-lap-dat-bao-tri-sua-chua/index.html">Dịch vụ lắp đặt – bảo trì – sửa chữa</a></li>
					<li id="menu-item-16094" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16094"><a href="dich-vu-cho-thue-thiet-bi/index.html">Dịch vụ cho thuê thiết bị</a></li>
					<li id="menu-item-16103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16103"><a href="quy-dinh-bao-hanh/index.html">Quy định bảo hành</a></li>
				</ul>
			</li>
			<li id="menu-item-16089" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16089"><a href="tin-tuc/index.html">Tin tức</a></li>
			<li id="menu-item-16092" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16092"><a href="lien-he/index.html">Liên hệ</a></li>
			<li class="html header-social-icons ml-0">
				<div class="social-icons follow-icons"><a href="http://url/" target="_blank" rel="noopener noreferrer nofollow" data-label="Facebook" class="icon plain facebook tooltip" title="Follow on Facebook" aria-label="Follow on Facebook"><i class="icon-facebook"></i></a><a href="http://url/" target="_blank" rel="noopener noreferrer nofollow" data-label="Instagram" class="icon plain instagram tooltip" title="Follow on Instagram" aria-label="Follow on Instagram"><i class="icon-instagram"></i></a><a href="http://url/" data-label="Twitter" target="_blank" rel="noopener noreferrer nofollow" class="icon plain twitter tooltip" title="Follow on Twitter" aria-label="Follow on Twitter"><i class="icon-twitter"></i></a><a href="mailto:your@email" data-label="E-mail" target="_blank" rel="nofollow" class="icon plain email tooltip" title="Send us an email" aria-label="Send us an email"><i class="icon-envelop"></i></a></div>
			</li>
		</ul>


	</div>


</div>
