@model MyShop.Models.Config
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta charset="UTF-8" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="pingback" href="/xmlrpc" />

<script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Tối ưu hóa công cụ tìm kiếm bởi Rank Math - https://rankmath.com/ -->
<title>@Model.Title</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source%20Sans%20Pro%7CBarlow%3Aregular%2C700%2Cregular%2C700%7CDancing%20Script%3Aregular%2Cregular%7COpen%20Sans&amp;display=swap" />
<link rel="stylesheet" href="/user/assets/wp-content/cache/min/1/f02bdae15fda0b6452ff26b29447bddd.css" data-minify="1" />
<meta name="description" content="@Model.Description" />
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
<link rel="canonical" href="/index" />

<link rel='dns-prefetch' href='http://cdn.jsdelivr.net/' />
<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
<link rel='dns-prefetch' href='http://use.fontawesome.com/' />
<link href='https://fonts.gstatic.com/' crossorigin rel='preconnect' />
<link rel='prefetch' href='/user/assets/wp-content/themes/flatsome/assets/js/flatsome18e6.js?ver=f55219565baa8ae8edba' />
<link rel='prefetch' href='/user/assets/wp-content/themes/flatsome/assets/js/chunk.slider8864.js?ver=3.17.3' />
<link rel='prefetch' href='/user/assets/wp-content/themes/flatsome/assets/js/chunk.popups8864.js?ver=3.17.3' />
<link rel='prefetch' href='/user/assets/wp-content/themes/flatsome/assets/js/chunk.tooltips8864.js?ver=3.17.3' />
<link rel='prefetch' href='/user/assets/wp-content/themes/flatsome/assets/js/woocommerce201f.js?ver=1a392523165907adee6a' />
<link rel="alternate" title="oNhúng (JSON)" type="application/json+oembed" href="/user/assets/wp-json/oembed/1.0/embed7ce5.json?url=https%3A%2F%2Finno.com.vn%2F" />
<link rel="alternate" title="oNhúng (XML)" type="text/xml+oembed" href="/user/assets/wp-json/oembed/1.0/embede906?url=https%3A%2F%2Finno.com.vn%2F&amp;format=xml" />
<link rel="stylesheet" href="/user/assets/style.css">
<style id='wp-img-auto-sizes-contain-inline-css' type='text/css'>
    img:is([sizes=auto i],[sizes^="auto," i]) {
        contain-intrinsic-size: auto
    }
    /*# sourceURL=wp-img-auto-sizes-contain-inline-css */
</style>
<style id='wp-emoji-styles-inline-css' type='text/css'>

    img.wp-smiley, img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 0.07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
    /*# sourceURL=wp-emoji-styles-inline-css */
</style>

<style id='flatsome-main-inline-css' type='text/css'>
    @@font-face {
        font-family: "fl-icons";
        font-display: block;
        src: url(/user/assets/wp-content/themes/flatsome/assets/css/icons/fl-icons28e2.eot?v=3.17.3);
        src: url(/user/assets/wp-content/themes/flatsome/assets/css/icons/fl-icons.eot#iefix?v=3.17.3) format("embedded-opentype"), url(/user/assets/wp-content/themes/flatsome/assets/css/icons/fl-icons28e2.woff2?v=3.17.3) format("woff2"), url(/user/assets/wp-content/themes/flatsome/assets/css/icons/fl-icons28e2.ttf?v=3.17.3) format("truetype"), url(/user/assets/wp-content/themes/flatsome/assets/css/icons/fl-icons28e2.woff?v=3.17.3) format("woff"), url(/user/assets/wp-content/themes/flatsome/assets/css/icons/fl-icons28e2.svg?v=3.17.3#fl-icons) format("svg");
    }
    /*# sourceURL=flatsome-main-inline-css */
</style>
<script type="text/javascript" src="/user/assets/wp-includes/js/jquery/jquery.minf43b.js?ver=3.7.1" id="jquery-core-js"></script>
<script type="text/javascript" src="/user/assets/wp-includes/js/jquery/jquery-migrate.min5589.js?ver=3.4.1" id="jquery-migrate-js" defer></script>
<script data-minify="1" type="text/javascript" src="/user/assets/wp-content/cache/min/1/wp-content/plugins/foxtool/link/index-068db3b3efa6647adf32d7d731f6796b.js" id="index-ft-js" defer></script>
<script type="text/javascript" src="/user/assets/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minb70a.js?ver=2.7.0-wc.10.3.6" id="wc-jquery-blockui-js" data-wp-strategy="defer"></script>
<script type="text/javascript" src="/user/assets/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.minb70a.js?ver=10.3.6" id="wc-add-to-cart-js" defer="defer" data-wp-strategy="defer"></script>
<script type="text/javascript" src="/user/assets/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min1482.js?ver=2.1.4-wc.10.3.6" id="wc-js-cookie-js" data-wp-strategy="defer"></script>

<link rel="icon" href="/user/assets/wp-content/uploads/2022/07/cropped-favicon-inno-1-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="/user/assets/wp-content/uploads/2022/07/cropped-favicon-inno-1-180x180.png" />
<meta name="msapplication-TileImage" content="https://inno.com.vn/wp-content/uploads/2022/07/cropped-favicon-inno-1-270x270.png" />
<style id="custom-css" type="text/css">
</style>
<noscript>
    <style id="rocket-lazyload-nojs-css">
        .rll-youtube-player, [data-lazy-src] {
            display: none !important;
        }</style>
</noscript>