@model MyShop.Models.Branch

@{
    ViewData["Title"] = "Thêm chi nhánh";
}

<link rel="stylesheet" href="~/css/adminstyle.css" />

<div class="container mt-4" style="max-width: 900px;">

    <h3 class="text-primary text-center mb-4">Thêm Chi Nhánh</h3>

    <form asp-controller="Branches" asp-area="Admin" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Region" class="form-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
          
        </div>

        <div class="text-end mt-4">
            <a asp-action="Index" class="btn btn-secondary me-2">Trở lại</a>
            <button type="submit" class="btn btn-success">
                <i class="fas fa-save"></i> Lưu lại
            </button>
        </div>

    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
